.inter-text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


html, body {
    margin: 0;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
}


.MainFrame_Frame {
    width: 100%;
    height: 87%;

    justify-items: center;
}


.MainFrame_Frame_Frame {
    width: 97%;
    height: fit-content;

    margin-top: 15px;
    margin-bottom: 20px;


}



.MainFrame_Frame_Frame_TopStats {
    display: flex;
    gap: 2%;

    justify-content: center;
    align-items: center;

    width: 100%;
    height: fit-content;

    padding: 10px 0;


}

.MainFrame_Frame_Frame_TopStats_Stat {
    width: 23%;
    height: 100%;
    min-width: 200px;


    background-color: #181818;
    border: 1px solid #252525 ;
    border-radius: 8px;

}

.MainFrame_Frame_Frame_TopStats_Stat_Title {
    width: 100%;

    color: rgb(177, 177, 177);
    font-size: 14px;
    font-weight: 700;

    margin-left: 20px;
    margin-top: 0;
    margin-top: 15px;
    margin-bottom: 0;
}

.MainFrame_Frame_Frame_TopStats_Stat_text {
    width: 100%;


    color: white;
    font-size: 24px;
    font-weight: 700;

    margin-left: 25px;
    margin-top: 0;
    margin-top: 10px;
    margin-bottom: 15px;

}

.MainFrame_Frame_Frame_MainStats {

    display: flex;
    gap: 2%;

    justify-content: center;
    align-items: center;

    width: 100%;
    height: 80%;

    padding: 10px 0;

}

.MainFrame_Frame_Frame_MainStats_CalenderFrame {
    width: 73%;
    height: 700px;

    min-width: 600px;

        scrollbar-width: none;
    overflow-y: auto;

    background-color: #181818;
    border: 1px solid #252525 ;
    border-radius: 8px;
}

.MainFrame_Frame_Frame_MainStats_StatsFrame {
    width: 23%;
    height: 700px;


    display: flex;
    flex-direction: column;
    gap: 4%;
}

.MainFrame_Frame_Frame_MainStats_StatsFrame_Stat {
    width: 100%;
    height: fit-content;
    padding: 5px 0;

        min-width: 200px;



    background-color: #181818;
    border: 1px solid #252525 ;
    border-radius: 8px;
}

.MainFrame_Frame_Frame_MainStats_StatsFrame_Stat_Title {
    width: 100%;

    color: rgb(177, 177, 177);
    font-size: 14px;
    font-weight: 700;

    margin-left: 20px;
    margin-top: 0;
    margin-top: 15px;
    margin-bottom: 0;
}

.MainFrame_Frame_Frame_MainStats_StatsFrame_Stat_Text {
    width: 100%;

    color: white;
    font-size: 24px;
    font-weight: 700;

    margin-left: 25px;
    margin-top: 0;
    margin-top: 10px;
    margin-bottom: 15px;
}

.MainFrame_Frame_Frame_MainStats_CalenderFrame_Title {
    width: 100%;


    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: 700;

    margin-top: 10px;
    margin-bottom: 0;
}

.calender_parent {

}

.MainFrame_Frame_Frame_MainStats_Calender {
    width: fit-content;
    height: 89%;

    margin-top: 5px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 10px;
    
    scrollbar-width: none;
    overflow-y: auto;

    align-content: start;
}

.MainFrame_Frame_Frame_MainStats_Calender_div {
    height: 140px;
    width: 170px;

    background-color: #181818;
    border: 1px solid #252525 ;
    border-radius: 8px;
}

.MainFrame_Frame_Frame_MainStats_Calender_div_Date {
    width: 95%;
    text-align: right;
    color: white;

    font-size: 15px;
    font-weight: 700;

    margin: 0;
    margin-top: 5px;
    margin-bottom: 15px;
}

.MainFrame_Frame_Frame_MainStats_Calender_div_Date_Text {

    text-align: center;
    color: white;

    font-size: 15px;
    font-weight: 700;

    margin: 0;
    margin-top: 5px;
}

.green-text {
    color: #14b04d;
}

.red-text {
    color: red;
}


html, body {
    margin: 0;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.SideBar {
    background-color: #121212;
    width: 260px;
    height: 100%;
    border-right: 1px solid #252525;

}

.SideBar_Title {
    color: white;
    font-size: 35px;
    font-weight: 700;


    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;

    padding-left: 30px;

    display: block;
    text-decoration: none;



}

.SideBar_Title:hover {
    cursor: pointer;
}

.SideBar_List {
    text-decoration: none;
    list-style: none;

    height: 60%;

    padding: 0;
    margin: 0;
}

.SideBar_List_ListItem {
    display: flex;
    align-items: center;
    padding-left: 30px;
    margin-bottom: 0;
    margin-top: 5px;

    margin-left: auto;
    margin-right: auto;

    border-radius: 9px;

    width: 160px;

    height: 40px;
    transition: 350ms;
}

.SideBar_List_ListItem:hover {
    background-color: #31363f;
    cursor: pointer;
}

.SideBar_List_ListItem:hover p {
    color: white;
}



.selected-item {
    background-color: #00ff99;
}

.selected-item p {

    color: black;
}

.SideBar_List_ListItem_Img {
    width: 12.5%;
    height: 60%;
    margin-right: 10px;
}

.align-center {
    align-content: center;
    justify-items: center;
}

.SideBar_List_ListItem_Text {
    color: rgb(177, 177, 177);
    font-size: 15px;
    font-weight: 500;
}

.anchor {
    text-decoration: none;
}

.MainFrame {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    scrollbar-color: rgb(14, 12, 12) transparent;
    background-color: #121212;
}

.MainFrame_HeadFrame {
    width: 100%;
    height: 60px;
    display: flex;
    margin-top: 20px;
    align-items: center;
}

#bar-icon {
    color: white;
    display: none;
    padding-left: 2.3%;

}


#bar-icon:hover {
    cursor:pointer;
}

.MainFrame_Title {

    font-size: 35px;
    font-weight: 700;
    color: white;

    width: 68%;
    padding-left: 2.3%;

    margin-top: 0;
    margin-bottom: 0;
}


@media (max-width: 1100px) {
    body {
        display: flex;
        flex-direction: column;
    }
    
    .SideBar {
        display: none;
        position: fixed;
        z-index: 1;
        
        width: 100%;
    }

    .SideBar_List_ListItem {
        width: 88%;
    }

    .MainFrame {

    }

    .MainFrame_Frame {
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 20px;



    }

    #bar-icon {
        display: block;
    }
    .MainFrame_Title {
        font-size: 24px;
    }

        .trade-frame {
        flex-direction: row;
        overflow-x: scroll;
        scrollbar-width: none;
    }

    .MainFrame_Frame_HalfFrame {
        min-width: 0;
        width: 96%;
        
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 480px) {

    .MainFrame_Frame_Frame_TopStats_Stat {
        width: 90%;
        height: 100%;
        min-width: 200px;

        margin-left: auto;
        margin-right: auto;

        background-color: #181818;
        border: 1px solid #252525 ;
        border-radius: 8px;

    }


    .MainFrame_Frame_Frame_MainStats_StatsFrame_Stat {
        width: 90%;
        height: fit-content;
        padding: 5px 0;

        min-width: 200px;
        margin-left: auto;
        margin-right: auto;


        background-color: #181818;
        border: 1px solid #252525 ;
        border-radius: 8px;
    }

    .MainFrame_Frame_Frame_TopStats {
        display: flex;
        flex-direction: column;
        gap: 20px;

        justify-content: center;
        align-items: center;

        width: 100%;
        height: fit-content;
    }
    
    .MainFrame_Frame_Frame_MainStats_CalenderFrame {
        display: none;
    }

    .MainFrame_Frame_Frame_MainStats_StatsFrame {
        width: 100%;
    }
}