

.MainFrame_TradeEntryFrame {
    width: 84.8%;
    height: 100%;

    background-color: rgba(255, 255, 255, 0.089); /* Semi-transparent background */
    backdrop-filter: blur(10px);

    position: absolute;

    display: none;

    align-content: center;
    justify-items: center;
}

.MainFrame_TradeEntryFrame_TradeFrame {
    width: 39%;
    height: 96%;


    background-color: #1b1d22;
    border: 2px solid #2d3139;
    border-radius: 18px;

    transition: 250ms;
}



.MainFrame_TradeEntryFrame_TradeFrame_Title {
    display: block;

    border-bottom: 2px solid #2d3139;;

    color: white;
    font-size: 2vw;
    font-weight: 700;
    text-align: center;

    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    margin-bottom: 15px;
}




.MainFrame_TradeEntryFrame_TradeFrame_div {
    width: 100%;
    height: fit-content;

    margin-bottom: 15px;
}

.MainFrame_TradeEntryFrame_TradeFrame_div_text {
    color: white;
    font-size: 13px;
    font-weight: 600;
    display: block;
    width: 90%;

    margin: 0;

    padding-left: 45px;
}

.MainFrame_TradeEntryFrame_TradeFrame_div_dropdowndiv {
    display: flex;

    align-items: center;

    margin-top: 12px;

    width: 100%;
    height: 45%;
}

.MainFrame_TradeEntryFrame_TradeFrame_div_dropdownedit {
    width: 20px;
    height: 20px;

    background-color: #23252b;
    border: 1px solid #2d3139;
    color: white;
    border-radius: 8px;
    padding: 7px 7px;


    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0;
}

.MainFrame_TradeEntryFrame_TradeFrame_div_dropdownedit:hover {
    cursor: pointer;
}

.MainFrame_TradeEntryFrame_TradeFrame_div_dropdownbutton{
    width: 83%;
    height: 35px;
    
    margin: 0;

    padding-left: 20px;

    color: white;
    font-size: 16px;
    display: flex;

    align-items: center;

    background-color: #23252b;
    border: 1px solid #2d3139;
    border-radius: 10px;
}

.MainFrame_TradeEntryFrame_TradeFrame_div_dropdownbutton:hover {
    cursor: pointer;
}

.MainFrame_TradeEntryFrame_TradeFrame_div_dropdown_icon {
    width: 20px;
    height: 20px;
    color: rgb(212, 212, 212);

    margin-left: auto;
    margin-right: 5px;
    
}


.MainFrame_TradeEntryFrame_TradeFrame_div_dropdown {
    width: 33.6%;
    height: fit-content;
    

    padding: 0;
    padding-bottom: 4px;

    position: absolute;

    display: none;



    max-height: 200px;
    margin: 0;
    margin-top: 5px;
    margin-left: 46px;


    list-style-type: none;
    


    justify-items: center;

    background-color: #23252b;
    border: 1px solid #2d3139;
    border-radius: 10px;


    overflow-y: auto;

    z-index: 1;
}

.MainFrame_TradeEntryFrame_TradeFrame_div_dropdown::-webkit-scrollbar {
    display: none;
}

.default-dropdown {

}

.MainFrame_TradeEntryFrame_TradeFrame_div_dropdown_text {
    color: rgb(212, 212, 212);
    font-size: 15px;
    font-weight: 500;
    margin-top: 5px;
    margin-left: 0;

    display: flex;
    align-items: center;

    width: 97%;
    border-radius: 8px;
    height: fit-content;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 7px;
    transition: 250ms;
}

.MainFrame_TradeEntryFrame_TradeFrame_div_dropdown_text:hover {
    cursor: pointer;
    color: #2e2f31;

    background-color: #14b04d;
}

.MainFrame_TradeEntryFrame_TradeFrame_div_input {
    width: 83%;
    height: 30px;

    text-transform: uppercase;

    padding-left: 20px;
    margin-left: 44px;
    margin-top: 12px;


    color: white;
    font-size: 16px;


    align-items: center;

    background-color: #23252b;
    border: 1px solid #2d3139;
    border-radius: 10px;
}

.MainFrame_TradeEntryFrame_TradeFrame_div_input:focus {
    outline: 1px solid  #14b04d7a;
}

.MainFrame_TradeEntryFrame_TradeFrame_div_textarea {
    width: 85%;
    height: 100px;

    padding-left: 10px;
    margin-left: 44px;
    margin-top: 12px;

    resize: none;

    color: white;
    font-size: 14px;

    scrollbar-color: rgb(22, 22, 22) transparent;
    scrollbar-width: 5px;


    align-items: center;

    background-color: #23252b;
    border: 1px solid #2d3139;
    border-radius: 10px;
}

.MainFrame_TradeEntryFrame_TradeFrame_div_textarea:focus {
    outline: 1px solid  #14b04d7a;
}

.MainFrame_TradeEntryFrame_TradeFrame_div_imgdiv {
    width: 100%; 
    height: 260px;


    display: flex;
    justify-content: center;
}

.MainFrame_TradeEntryFrame_TradeFrame_div_imgdiv_img {
    width: 85%;
    height: 100%;
    display: none;

    border-radius: 8px;
}

.MainFrame_TradeEntryFrame_TradeFrame_div_imgdiv_imgframe {
    width: 85%;
    height: 100%;
    border-radius: 8px;

    border: 2px dashed #2d3139;
    transition: 450ms;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.MainFrame_TradeEntryFrame_TradeFrame_div_imgdiv_imgframe:hover {
    border: 2px dashed #14b04d7a;
    cursor: pointer;
}

.MainFrame_TradeEntryFrame_TradeFrame_div_imgdiv_imgframe_icon {
    width: 30px;
    height: 30px;

    border: 2px solid #2d3139;
    background-color: #212329;
    padding: 20px 20px;
    border-radius: 100%;
    color: rgb(212, 212, 212);

}
.MainFrame_TradeEntryFrame_TradeFrame_div_imgdiv_imgframe_text {
    color: rgb(212, 212, 212);
    font-size: 20px;
    font-weight: 700;
}

.MainFrame_TradeEntryFrame_TradeFrame_div_buttondiv {
    width: 100%;
    height: fit-content;

    display: flex;
    justify-content: center;
    justify-items: center;

    gap: 15px;
}

.MainFrame_TradeEntryFrame_TradeFrame_div_buttondiv_button {
    height: 50px;
    width: 150px;

    font-size: 20px;
    font-weight: 700;

    border-radius: 8px;
    border: none;

    transition: 250ms;
}
.MainFrame_TradeEntryFrame_TradeFrame_div_buttondiv_button:hover {
    cursor: pointer;
    transform: scale(1.02);
}

#Continue_button {
    color: rgb(255, 255, 255);
    background-color: #14b04d;
    box-shadow: 0 0 7px rgba(34, 197, 94, 0.8);
}

#Cancel_button {
    border: 2px solid #2d3139;
    background-color: #212329;

    color: rgb(177, 177, 177);
}

.MainFrame_ManageFrame {
    width: 84.8%;
    height: 100%;

    background-color: rgba(255, 255, 255, 0.089); /* Semi-transparent background */
    backdrop-filter: blur(10px);

    position: absolute;

    display: none;

    justify-items: center;
}

.MainFrame_ManageFrame_div {
    width: 33%;
    height: 76%;


    margin-top: 3%;

    background-color: #1b1d22;
    border: 2px solid #2d3139;
    border-radius: 18px;

    transition: 250ms;
}

.MainFrame_ManageFrame_div_headerdiv {
    height: fit-content;
    padding-bottom: 10px;
    width: 100%;

    margin-top: 15px;
    justify-content: center;

    border-bottom: 1px solid #2d3139;
}

.MainFrame_ManageFrame_div_headerdiv_title {
    font-size: 30px;
    font-weight: 700;

    color: white;
    padding-left: 15px;
    margin: 0;
}

.MainFrame_ManageFrame_div_headerdiv_text {
    margin: 0;
    margin-top: 3px;

    font-size: 15px;
    font-weight: 400;
    padding-left: 15px;

    color: gray;
}

.MainFrame_ManageFrame_div_div {
    margin-top: 20px;
    height: 30%;

}

.MainFrame_ManageFrame_div_div_title {
    font-size: 20px;
    font-weight: 500; 

    padding-left: 15px;

    margin: 0;

    color: white;
}

.MainFrame_ManageFrame_div_div_input {
    width: 83%;
    height: 15%;

    transform: uppercase;
    padding-left: 15px;
    margin-top: 10px;
    margin-left: 15px;


    color: white;
    font-size: 16px;


    align-items: center;

    background-color: #23252b;
    border: 1px solid #2d3139;
    border-radius: 8px;
}

.MainFrame_ManageFrame_div_div_input:focus {
    outline: 1px solid #14b04d;
}

.MainFrame_ManageFrame_div_div_textarea {
    width: 83%;
    height: 35%;

    transform: uppercase;
    padding-left: 15px;
    margin-top: 10px;
    margin-left: 15px;

    resize: none;

    color: white;
    font-size: 16px;


    align-items: center;

    background-color: #23252b;
    border: 1px solid #2d3139;
    border-radius: 8px;
}
.MainFrame_ManageFrame_div_div_textarea:focus {
    outline: 1px solid #14b04d;
}
.MainFrame_ManageFrame_div_div_button {
    height: 20%;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;

    margin-left: 15px;
    margin-top: 10px;

    color: white;
    border: none;
    background-color: #14b04d;
    box-shadow: 0 0 4px rgba(34, 197, 94, 0.8);

    font-size: 15px;
    font-weight: 600;

    transition: 250ms;

    border-radius: 8px;
}

.MainFrame_ManageFrame_div_div_button:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.MainFrame_ManageFrame_div_div_listframe {
    height: 85%;
    width: 86%;

    background-color: #23252b;
    border: 1px solid #2d3139;
    border-radius: 8px;

    display: flex;
    flex-direction: column;

    overflow-y: auto;
    scrollbar-color: rgb(58, 57, 57) transparent;

    margin-left: 15px;
    margin-top: 10px;
}

.MainFrame_ManageFrame_div_div_listframe_listitem {
    width: 95%;
    height: 50px;

    display: flex;

    margin-top: 7px;
    margin-left: 5px;

    align-items: center;


    background-color: #1b1d22;
    border: 1px solid #2d3139;
    border-radius: 8px;
}

.MainFrame_ManageFrame_div_div_listframe_listitem_title {
    font-size: 22px;
    font-weight: 500; 

    padding-left: 15px;

    margin: 0;
    width: 88%;

    color: white;
}

.MainFrame_ManageFrame_div_div_listframe_listitem_title_icon {
    width: 25px;
    height: 25px;
    color: rgb(212, 212, 212);

    border: 1px solid #2d3139;
    padding-top: 5px;
    padding-bottom: 5px;
}

.MainFrame_ManageFrame_div_div_listframe_listitem_button {
    height: fit-content;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    padding: 5px 10px;
    display: inline-block;



    color: gray;

    background-color: #1a1b1f;
    border: 1px solid #2d3139;


    font-size: 18px;
    font-weight: 400;
    margin-right: 10px;

    transition: 250ms;

    border-radius: 8px;
}

.MainFrame_ManageFrame_div_div_listframe_listitem_button:hover {
    cursor: pointer;
}
.MainFrame_ManageFrame_div_bottomdiv {
    width: 100%;
    height: 10%;

    margin-top: 10px;

    display: flex;

    justify-content: center;
    align-items: center;

    gap: 5px;
}

.MainFrame_ManageFrame_div_bottomdiv_button {
    width: 27%;
    height: 67%;
    

    background-color: #1b1d22;
    border: 1px solid #2d3139;

    color: rgb(177, 177, 177);

    font-size: 25px;
    font-weight: 600;

    border-radius: 8px;
    transition: 250ms;

    margin-right: 5px;
}

.MainFrame_ManageFrame_div_bottomdiv_button:hover {
    cursor: pointer;
    transform: scale(1.01);
}

#Emotion-Manage {
    display: block;
}

#Strategy-Manage {
    display: none;
}

.MainFrame_PromptFrame {
    width: 84.8%;
    height: 100%;

    background-color: rgba(255, 255, 255, 0.089); 
    backdrop-filter: blur(10px);

    position: absolute;

    display: none;


    justify-items: center;
}

.MainFrame_PromptFrame_Frame {
    width: 39%;
    height: fit-content;


    margin-top: 30px;
    padding-bottom: 20px;

    background-color: #1b1d22;
    border: 2px solid #2d3139;
    border-radius: 18px;

    transition: 250ms;
}

.MainFrame_PromptFrame_Frame_Title {
    display: block;

    border-bottom: 2px solid #2d3139;;

    color: white;
    font-size: 30px;
    font-weight: 700;
    text-align: center;

    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    margin-bottom: 5px;
}

.MainFrame_PromptFrame_Frame_text {
    display: block;


    color: gray;
    font-size: 15px;
    font-weight: 700;
    text-align: center;

    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    margin-bottom: 15px;
}

.MainFrame_PromptFrame_Frame_ButtonDiv {
    width: 100%;
    height: 20%;
    margin-top: 10px;

    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

}

.MainFrame_PromptFrame_Frame_ButtonDiv_button {
    height: 50px;
    width: 150px;

    font-size: 20px;
    font-weight: 700;

    border-radius: 8px;
    border: none;


    transition: 250ms;
}

.MainFrame_PromptFrame_Frame_ButtonDiv_button:hover {
    cursor: pointer;
    transform: scale(1.02);
}

#Continue_prompt {
    color: rgb(255, 255, 255);
    background-color: #14b04d;
    box-shadow: 0 0 7px rgba(34, 197, 94, 0.8);
}

#Close_prompt {
    border: 2px solid #2d3139;
    background-color: #212329;

    color: rgb(177, 177, 177);
}