

.MainFrame_TradeEntryFrame {
    width: 84.8%;
    height: 100%;

    background-color: rgba(255, 255, 255, 0.089); /* Semi-transparent background */
    backdrop-filter: blur(10px);

    position: absolute;

    display: none;

    align-content: center;
    justify-items: center;
}

.MainFrame_TradeEntryFrame_TradeFrame {
    background-color: gray;
    width: 45%;
    height: 80%;
    z-index: 3;

    background-color: #1e1e24;
    border: 1px solid #0050049f;
    border-radius: 18px;

    transition: 250ms;
}

.MainFrame_TradeEntryFrame_TradeFrame:hover {
    box-shadow: 0px 4px 12px  -3px #006b059f;
}

#TradeOpen_Entry {

}

#TradeClose_Entry {
    display: none;
}

.MainFrame_TradeEntryFrame_TradeFrame_Title {
    color: white;
    font-size: 2.4vw;
    font-weight: 700;
    text-align: center;

    margin-top: 3%;
    margin-bottom: 15px;
}


.MainFrame_TradeEntryFrame_TradeFrame_Frame {
    width: 100%;
    height: 80%;


}

.MainFrame_TradeEntryFrame_TradeFrame_Frame_InputFrame {
    
    width: auto;
    height: 8%;

    align-content: center;

    padding-left: 30px;

    display: flex;
}

.MainFrame_TradeEntryFrame_TradeFrame_Frame_InputFrame_Text {

    margin: 0;

    width: 38%;
    height: 10%;

    color: white;
    font-size: 1.3vw;
    font-weight: 600;
}

.MainFrame_TradeEntryFrame_TradeFrame_Frame_InputFrame_DropDownDiv {
    width: 23%;
    height: 70%;

}

.MainFrame_TradeEntryFrame_TradeFrame_Frame_InputFrame_Button {
    width: 4%;
    height: 55%;

    display: inline-block;

    display: flex;               /* enable flexbox */
    align-items: center;         /* vertical alignment */
    justify-content: center;


    margin-left: 5px;
    margin-right: 5px;
    margin-top: .5%;

    padding: 0;

    padding-top: .2%;


    background-color: #21252bce;
    border: 1px solid #0050049f;
    border-radius: 100%;

    color: rgb(177, 177, 177);
    font-size: .9vw;
    font-weight: 600;

    transition: 250ms;
}

.MainFrame_TradeEntryFrame_TradeFrame_Frame_InputFrame_Button:hover {
    cursor: pointer;
    box-shadow: 0px 4px 12px  -5px #0050049f;
}

.add-item {
    display: none;
}

.MainFrame_TradeEntryFrame_TradeFrame_Frame_InputFrame_DropDownDiv_Button {
    width: 100%;
    height: 100%;


    background-color: #21252bce;
    border: 1px solid #0050049f;
    border-radius: 8px;

    color: rgb(177, 177, 177);
    font-size: 1vw;
    font-weight: 600;

    margin: 0;

    transition: 250ms;
}

.MainFrame_TradeEntryFrame_TradeFrame_Frame_InputFrame_DropDownDiv_Button:hover {
    cursor: pointer;
    box-shadow: 0px 4px 12px  -5px #0050049f;
}

.MainFrame_TradeEntryFrame_TradeFrame_Frame_InputFrame_DropDownDiv_Button:hover ~ .MainFrame_TradeEntryFrame_TradeFrame_Frame_InputFrame_DropDownDiv_List {
    display: block;
    opacity: 1;
}

.MainFrame_TradeEntryFrame_TradeFrame_Frame_InputFrame_DropDownDiv_List {
    margin-top: 1px;
    width: 9.8%;
    height: fit-content;

    display: none;
    opacity: 0;

    padding-top: 5px;
    padding-left: 0;
    padding-bottom: 15px;
    list-style-type: none;
    margin-top: 2px;

    background-color: #21252b;
    border: 1px solid #0050049f;
    border-radius: 8px;
    

    position: absolute;

    transition: 250ms;
}

.MainFrame_TradeEntryFrame_TradeFrame_Frame_InputFrame_DropDownDiv_List:hover {
    box-shadow: 0px 4px 12px  -5px #0050049f;
}

.MainFrame_TradeEntryFrame_TradeFrame_Frame_InputFrame_DropDownDiv_List_ListItem {
    margin-top: 5px;
    padding-left: 15px;

    color: rgb(177, 177, 177);
    font-size: 1vw;
    font-weight: 600;
    padding-top: 1px;
    padding-bottom: 1px;

    align-items: center;

    transition: 250ms;
}

.MainFrame_TradeEntryFrame_TradeFrame_Frame_InputFrame_DropDownDiv_List_ListItem:hover {
    background-color: #4ecf524b;
    cursor: pointer;
}



.MainFrame_TradeEntryFrame_TradeFrame_Frame_InputFrame_Input {
    width: 21%;
    height: 70%;

    text-transform: uppercase;

    background-color: #21252bce;
    border: 1px solid #0050049f;
    border-radius: 8px;

    color: rgb(177, 177, 177);
    font-size: 1vw;
    font-weight: 600;

    padding-left: 10px;

    margin: 0;

    transition: 250ms;
}

.MainFrame_TradeEntryFrame_TradeFrame_Frame_InputFrame_Input:focus {
    background-color: #21252bce;
}

.MainFrame_TradeEntryFrame_TradeFrame_Frame_InputFrame_Input:hover {
    box-shadow: 0px 4px 12px  -5px #0050049f;
}

.MainFrame_TradeEntryFrame_TradeFrame_Frame_Text {
    
    margin: 0;
    margin-bottom: 10px;

    width: 30%;
    height: auto;

    padding-left: 31px;

    color: white;
    font-size: 1.3vw;
    font-weight: 600;
}

.MainFrame_TradeEntryFrame_TradeFrame_Frame_TextAreaFrame {
    width: 100%;
    height: 40%;

    margin-top: 0;

    display: flex;
    justify-content: center;
    align-content: center;

}

.MainFrame_TradeEntryFrame_TradeFrame_Frame_TextAreaFrame_TextArea {
    margin-top: 0;
    width: 90%;
    resize: none;
    outline: none;

    padding-left: 1%;
    padding-top: 1%;

    color: rgb(177, 177, 177);
    font-size: .8vw;
    font-weight: 600;
    
    
    background-color: #21252bce;
    border: 1px solid #0050049f;
    border-radius: 8px;
}

.MainFrame_TradeEntryFrame_TradeFrame_Frame_TextAreaFrame_TextArea:hover {
    box-shadow: 0px 4px 12px  -5px #0050049f;
}

.MainFrame_TradeEntryFrame_TradeFrame_Frame_ButtonFrame {
    height: 15%;
    width: 100%;

    margin-top: 2%;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1%;
}
.MainFrame_TradeEntryFrame_TradeFrame_Frame_ButtonFrame_Button {
    width: 20%;
    height: 60%;
    text-align: center;


    border: 1px solid #312e2e;

    background-color: #21252bce;
    color: rgb(177, 177, 177);

    font-size: 1.3vw;
    font-weight: 600;

    transition: 250ms;

    border-radius: 8px;

}

.Continue_Button {
    color: rgb(243, 233, 233);
    background-color: #358b38;
}

.MainFrame_TradeEntryFrame_TradeFrame_Frame_ButtonFrame_Button:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.MainFrame_TradeEntryFrame_TradeFrame_Frame_ImgFrame {
    width: 100%;
    height: 36%;

    display: flex;
    justify-content: center;

    margin-top: 0;
    margin-bottom: 5%;

    justify-items: center;
    align-content: center;

}

#img_Frame {
    display: none;
}

.MainFrame_TradeEntryFrame_TradeFrame_Frame_InputFrame_ImgInput {
    display: flex;
    align-items: center;    
    justify-content: center;

    width: 90%;
    height: 100%;


    text-transform: uppercase;

    background-color: #43494ece;
    border: 3px solid #0050049f;
    box-shadow: 0px 4px 12px  -5px #0050049f;
    border-radius: 8px;

    color: rgb(177, 177, 177);
    font-size: 1vw;
    font-weight: 600;

    text-align: center;
    align-content: center;

    margin: 0;

    transition: 250ms;
}
.MainFrame_TradeEntryFrame_TradeFrame_Frame_InputFrame_ImgInput:hover {
    transform: scale(1.02);
    cursor: pointer; 
}

#fileInput {
    display: none;

}

.MainFrame_EntryAIPrompt {
    width: 84.8%;
    height: 100%;

    display: none;

    background-color: rgba(255, 255, 255, 0.089); /* Semi-transparent background */
    backdrop-filter: blur(10px);


    position: absolute;

    justify-items: center;
}

.MainFrame_EntryAIPrompt_QuestionPrompt {

    width: 45%;
    height: 15%;
    z-index: 3;

    background-color: #21252b;
    border: 1px solid #0050049f;
    box-shadow: 0px 4px 12px  -5px #0050049f;
    border-radius: 18px;

    display: none;

    transition: 550ms;
}

.MainFrame_EntryAIPrompt_QuestionPrompt_Text {

    display: block;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 13px;

    height: auto;

    padding-left: 31px;

    color: white;
    font-size: 1.2vw;
    font-weight: 600;
}
.MainFrame_EntryAIPrompt_QuestionPrompt_ButtonDiv{
    display: flex;
    gap: 15px;
    width: 100%;
    height: 50%;
    
    align-items: center;
    justify-content: center;
}

.MainFrame_EntryAIPrompt_QuestionPrompt_ButtonDiv_Button {
    width: 20%;
    height: 60%;
    text-align: center;


    border: 1px solid #0050049f;
    background-color: #21252bce;
    color: rgb(177, 177, 177);

    font-size: 1.3vw;
    font-weight: 600;

    transition: 250ms;

    border-radius: 8px;
}

.MainFrame_EntryAIPrompt_QuestionPrompt_ButtonDiv_Button:hover {
    transform: scale(1.02);
    cursor: pointer;
    box-shadow: 0px 4px 12px  -5px #0050049f;
}

.MainFrame_EntryAIPrompt_AIResponseFrame {
    
    width: 45%;
    height: fit-content;
    z-index: 3;

    display: none;

    background-color: #21252b;
    border: 1px solid #0050049f;
    box-shadow: 0px 4px 12px  -5px #0050049f;
    border-radius: 18px;

    margin-top: 40px;


    transition: 550ms;
}

.MainFrame_EntryAIPrompt_AIResponseFrame_Text {
    display: block;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 13px;

    word-wrap: break-word;

    height: auto;

    padding-left: 31px;
    padding-right: 10px;

    color: white;
    font-size: 1.2vw;
    font-weight: 600;
}

.prompt-div {
    height: 60%;
}

.MainFrame_EntryAIPrompt_AIResponseFrame_ButtonDiv {
    display: flex;
    gap: 15px;
    width: 100%;
    height: 20%;
    margin-bottom: 15px;
    
    align-items: center;
    justify-content: center;
}

.MainFrame_EntryAIPrompt_AIResponseFrame_Button {
    width: 17%;
    height: 50%;
    text-align: center;


    border: 1px solid #0050049f;
    background-color: #21252bce;
    color: rgb(177, 177, 177);

    font-size: 1.3vw;
    font-weight: 600;

    transition: 250ms;

    border-radius: 8px;
}

.MainFrame_EntryAIPrompt_AIResponseFrame_Button:hover {
    transform: scale(1.02);
    cursor: pointer;
    box-shadow: 0px 4px 12px  -5px #0050049f;
}