.inter-text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


html, body {
    margin: 0;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
}


.MainFrame_ChatFrame {
    width: 100%;
    height: 86%;


    justify-items: center;
}

.MainFrame_ChatFrame_MessagesFrame {
    width: 76%;
    height: 85%;
    margin-top: 15px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    scrollbar-color: transparent transparent;
    overflow-y: scroll;

    

    gap: 1.2% 1%;
}

.MainFrame_ChatFrame_MessagesFrame_MessageFrame {
    width: 100%;
    height: auto;

    
    margin: 0;

    border-radius: 10px;

    color: white;
}

.MainFrame_ChatFrame_MessagesFrame_MessageFrame_Message {
    display: inline-block;      
    max-width: 40%;             
    word-wrap: break-word;      
    overflow-wrap: break-word; 
      
    
    padding: 5px 10px;
    margin: 0;



    background-color: #21252bce;
    border: 2px solid #0050049f;
    border-radius: 10px;
    color: white;
    font-size: 1vw;
    font-weight: 600;
}

.MainFrame_ChatFrame_MessagesFrame_MessageFrame_Message:hover {
    box-shadow: 0px 4px 12px  -5px #0050049f;
}

.left-message {
    float: left;
}

.right-message {
    float: right;
}

.MainFrame_ChatFrame_InputFrame {
    width: 100%;
    height: 10%;
    margin-top: 15px;

    justify-items: center;
    align-content: center;
}

.MainFrame_ChatFrame_InputFrame_Frame {
    width: 80%;
    height: 60%;

    background-color: #1b1d22;
    box-shadow: 0 0 7px rgba(34, 197, 94, 0.8);
    border: none;
    border-radius: 20px;

    display: flex;
    align-items: center;
}

.MainFrame_ChatFrame_InputFrame_Frame_Button {
    width: 7%;
    height: 70%;
    text-align: center;

    border: 1px solid #2d3139;
    background-color: #1b1d22;
    color: rgb(177, 177, 177);

    margin: 0;
    margin-left: 15px;

    font-weight: 600;
    font-size: .9vw;

    white-space: nowrap;       /* keep text on one line */
    overflow: hidden;          /* hide overflow */
    text-overflow: ellipsis;

    transition: 250ms;

    border-radius: 12px;
}
.MainFrame_ChatFrame_InputFrame_Frame_Button:hover {
    cursor: pointer;

    transform: scale(1.02);
}

.MainFrame_ChatFrame_InputFrame_Frame_TextArea {
    margin: 0;
}

.MainFrame_ChatFrame_InputFrame_Frame_TextArea {
    width: 82%;
    margin-left: 10px;
    
    background-color: transparent;
    outline: none;
    border: none;
    resize: none;


    overflow-y: scroll;
    scrollbar-color: transparent transparent;

    color: white;
    align-content: center;

    font-size: 1vw;
    font-weight: 500;
}

.green-button {
    color: rgb(255, 255, 255);
    border: none;
    background-color: #14b04d;
    box-shadow: 0 0 7px rgba(34, 197, 94, 0.8);
}

.MainFrame_ChatFrame_InputFrame_Frame_EntriesFrame {
    position: absolute;
    width: fit-content;
    height: 15%;

    border: 1px solid #0050049f;
    background-color: #21252bce;
    color: rgb(177, 177, 177);
    border-radius: 10px;
    
    margin-bottom: 24vh;
    overflow-y: auto;
    scrollbar-width: none;

    /* Hide scrollbar – old IE/Edge */
    -ms-overflow-style: none;

    display: none;

    list-style-type: none;
    padding: 0;

}

.MainFrame_ChatFrame_InputFrame_Frame_EntriesFrame_Entry {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;


    transition: 250ms;
}

.MainFrame_ChatFrame_InputFrame_Frame_EntriesFrame_Entry:hover {
    background-color: rgb(44, 44, 44);
    cursor: pointer;
}

.inter-text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


html, body {
    margin: 0;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.SideBar {
    background-color: #121212;
    width: 260px;
    height: 100%;
    border-right: 1px solid #252525;

}

.SideBar_Title {
    color: white;
    font-size: 35px;
    font-weight: 700;


    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;

    padding-left: 30px;

    display: block;
    text-decoration: none;



}

.SideBar_Title:hover {
    cursor: pointer;
}

.SideBar_List {
    text-decoration: none;
    list-style: none;

    height: 60%;

    padding: 0;
    margin: 0;
}

.SideBar_List_ListItem {
    display: flex;
    align-items: center;
    padding-left: 30px;
    margin-bottom: 0;
    margin-top: 5px;

    margin-left: auto;
    margin-right: auto;

    border-radius: 9px;

    width: 160px;

    height: 40px;
    transition: 350ms;
}

.SideBar_List_ListItem:hover {
    background-color: #31363f;
    cursor: pointer;
}

.SideBar_List_ListItem:hover p {
    color: white;
}



.selected-item {
    background-color: #00ff99;
}

.selected-item p {

    color: black;
}

.SideBar_List_ListItem_Img {
    width: 12.5%;
    height: 60%;
    margin-right: 10px;
}

.align-center {
    align-content: center;
    justify-items: center;
}

.SideBar_List_ListItem_Text {
    color: rgb(177, 177, 177);
    font-size: 15px;
    font-weight: 500;
}

.anchor {
    text-decoration: none;
}

.MainFrame {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: #121212;
}

.MainFrame_HeadFrame {
    width: 100%;
    display: flex;
}

.MainFrame_Title {

    font-size: 2.5vw;
    font-weight: 700;
    color: white;

    width: 68%;
    padding-left: 2.3%;

    margin-top: 20px;
    margin-bottom: 2px;
}

.MainFrame_HeadFrame_ButtonsDiv {
    display: flex;
    gap: 2%;

    justify-content: right;
    align-items: center;



    width: 30%;
}

.MainFrame_HeadFrame_ButtonsDiv_Button {
    height: 47%;
    width: 40%;
    display: inline-block;

    background-color: #21252bce;
    color: white;

    font-size: 15px;
    font-weight: 600;
    border: none;

    margin-top: 15px;
    margin-right: 30px;

    transition: 250ms;

    border-radius: 8px;
}
#TradeOpen_Button {
    color: #121228;
    
    background-color: #00ff99;



}
#TradeClose_Button {
    color: rgb(243, 233, 233);
    
    border: 1px solid #312e2e;
}

.MainFrame_HeadFrame_ButtonsDiv_Button:hover {
    cursor: pointer;
    transform: scale(1.03);
}


.MainFrame_Frame {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 30px;

  width: 100%;
  height: 400px;

  margin-top: 10px;
}

.MainFrame_Frame2 {
    width: 100%;
    height: 400px;

    margin-top: 40px;
    padding-bottom: 140px;
}

.MainFrame_Frame_HalfFrame {
    border-radius: 10px;

    background-color: #181818;
    border: 1px solid #252525 ;


  /* no explicit width/height needed */
}



.StatsFrame_Title {
    color: white;
    font-size: 26px;
    font-weight: 600;
    margin-top: 15px;
    width: fit-content;
    height: fit-content;

    margin-left: 20px;
    margin-bottom: 0;
}

.StatsFrame_text {
    color: white;
    font-size: 15px;
    font-weight: 500;

    width: fit-content;
    height: fit-content;


    margin-left: 20px;
}

.StatsFrame_textTitle {
    text-decoration: underline;
}

.ChartFrame {
    margin-top: auto; 
    margin-bottom: auto; 

    height: 100%; 
    width: 20%;

    align-content: center;
}

.Doughnut_Chart {
    width: 100%; 
    height: 100%;

}

.flex-box {
    display: flex;
}

.stats_halfdiv {
    width: 50%;

}

.stats-title {
    padding-left: 20px;

    margin-bottom: 0;
    color: gray;
    font-size: 16px;
    font-weight: 500;
}

.stats-text {
    padding-left: 20px;

    color: white;
    margin-top: 10px;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 0;
}

#WLRChart {

    margin-bottom: -10px;
    margin-left: 10px;
    margin-top: 6px;
    width: fit-content;
    height: fit-content;
}

#PLChart {

    margin-bottom: -10px;
    margin-left: 10px;
    margin-top: 6px;
    width: fit-content;
    height: fit-content;
}



.bar {
    width: 95%;
    height: 10px;

    margin-left: auto;
    margin-right: auto;

    margin-top: 10px;
    background-color: #262626;
    border-radius: 10px;
}

.bar-fill {
    width: 50%;
    height: 100%;
    border-radius: 10px;
    background-color: #00ff99;
}

.bar-text {
    color: white;
    font-size: 13px;
    font-weight: 700;

    padding-right: 25px;

    float: right;
    margin-bottom: 0;
    margin-top: 5px;


}

.trades-div {
    height: 500px;
    width: 96%;

    border-radius: 10px;

    margin-top: 30px;

    background-color: #181818;
    border: 1px solid #252525 ;
    margin-left: auto;
    margin-right: auto;
}

.trade-frame {
    width: 97%;
    height: 60px;

    border-bottom: 1px solid #31363f;

    margin-left: auto;
    margin-right: auto;


    gap: 3px;
    
}

.trade-text {
    padding-left: 15px;
    width: 14.285714285714285714285714285714%;

    margin-top: 0;
    margin-bottom: 0;

    align-content: center;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.example-text {
    color: gray;
}

.green-text {
    color: #00ff99;
}

.truncate {
  overflow: hidden;          /* hides extra text */
  text-overflow: ellipsis;   /* adds "..." at the end */
  white-space: nowrap;       /* prevents text wrapping */
}