.inter-text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


html, body {
    margin: 0;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.MainFrame_ProfileFrame {
    width: 100%;
    height: 15%;



    margin-top: 20px;
}

.MainFrame_ProfileFrame_Frame {
    display: flex;

    width: 50%;


    margin-left: auto;
    margin-right: auto;
    
}

.MainFrame_ProfileFrame_Frame_Img {
    width: 130px;
    min-width: 130px;
    height: 130px;


    fill: white;

    border: 2px solid white;
    border-radius: 100%;

    padding-top: 5px;
}

.MainFrame_ProfileFrame_Frame_Data {
    margin-left: 30px;
    margin-top: 10px;
}

.MainFrame_ProfileFrame_Frame_Data_Name {
    margin-top: 0;
    margin-bottom: 0;
    
    color: white;
    font-size: 30px;
    font-weight: 700;
}

.MainFrame_ProfileFrame_Frame_Data_Text {
    margin-top: 10px;
    margin-bottom: 0;

    color: white;
    font-size: 15px;
    font-weight: 600;
}

.MainFrame_ProfileDataFrame {
    width: 100%;
    height: 30%;


    justify-items: center;
    margin-top: 0;
}

.MainFrame_ProfileDataFrame_Frame {
    width: 50%;
    height: 100%;
}

.MainFrame_ProfileDataFrame_Frame_Title {
    margin-top: 20px;
    margin-bottom: 0;

    color: white;
    font-size: 14px;
    font-weight: 400;

}

.MainFrame_ProfileDataFrame_Frame_Input {
    width: 90%;
    height: 14%;
    margin-top: 5px;

    padding-left: 10px;

    align-content: center;


    background-color: #181818;
    border: 1px solid #252525 ;
    
    border-radius: 10px;

    
    color: white;
    font-size: 15px;
    font-weight: 400;

    resize: none;
    outline: none;
}


.MainFrame_SaveFrame {
    width: 100%;
    height: 10%;

    margin-top: 80px;

    align-content: center;
    justify-items: center;

}

.MainFrame_SaveFrame_Frame {
    width: 50%;
    height: 80%;
    align-content: center;
}

.MainFrame_SaveFrame_Frame_text {
    font-size: 23px;
    font-weight: 500;

    width: 10%;
    height: fit-content;


    text-align: center;
    justify-items: center;

    padding-top: 10px;
    padding-bottom: 10px;

    padding-left: 25px;
    padding-right: 25px;

    border-radius: 10px;

    color: black;
    background-color: #00ff99;

    
    transition: 250ms;
}

.MainFrame_SaveFrame_Frame_text:hover {
    cursor: pointer;

    transform: scale(1.02);
}





.SideBar {
    background-color: #121212;
    width: 260px;
    height: 100%;
    border-right: 1px solid #252525;

}

.SideBar_Title {
    color: white;
    font-size: 35px;
    font-weight: 700;


    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;

    padding-left: 30px;

    display: block;
    text-decoration: none;



}

.SideBar_Title:hover {
    cursor: pointer;
}

.SideBar_List {
    text-decoration: none;
    list-style: none;

    height: 60%;

    padding: 0;
    margin: 0;
}

.SideBar_List_ListItem {
    display: flex;
    align-items: center;
    padding-left: 30px;
    margin-bottom: 0;
    margin-top: 5px;

    margin-left: auto;
    margin-right: auto;

    border-radius: 9px;

    width: 160px;

    height: 40px;
    transition: 350ms;
}

.SideBar_List_ListItem:hover {
    background-color: #31363f;
    cursor: pointer;
}

.SideBar_List_ListItem:hover p {
    color: white;
}



.selected-item {
    background-color: #00ff99;
}

.selected-item p {

    color: black;
}

.SideBar_List_ListItem_Img {
    width: 12.5%;
    height: 60%;
    margin-right: 10px;
}

.align-center {
    align-content: center;
    justify-items: center;
}

.SideBar_List_ListItem_Text {
    color: rgb(177, 177, 177);
    font-size: 15px;
    font-weight: 500;
}

.anchor {
    text-decoration: none;
}

.MainFrame {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    scrollbar-color: rgb(14, 12, 12) transparent;
    background-color: #121212;
}

.MainFrame_HeadFrame {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}

#bar-icon {
    color: white;
    display: none;
    padding-left: 2.3%;

}


#bar-icon:hover {
    cursor:pointer;
}

.MainFrame_Title {

    font-size: 35px;
    font-weight: 700;
    color: white;

    width: 68%;
    padding-left: 2.3%;

    margin-top: 0;
    margin-bottom: 0;
}




.MainFrame_Frame {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 30px;

  width: 100%;
  height: 400px;

  margin-top: 10px;
}

.MainFrame_Frame2 {
    width: 100%;
    height: 400px;

    margin-top: 40px;
    padding-bottom: 140px;
}

.MainFrame_Frame_HalfFrame {
    border-radius: 10px;

    background-color: #181818;
    border: 1px solid #252525 ;


  /* no explicit width/height needed */
}


.example-text {
    color: gray;
}

.green-text {
    color: #00ff99;
}

.truncate {
  overflow: hidden;          /* hides extra text */
  text-overflow: ellipsis;   /* adds "..." at the end */
  white-space: nowrap;       /* prevents text wrapping */
}

@media (max-width: 1100px) {
    body {
        display: flex;
        flex-direction: column;
    }
    
    .SideBar {
        display: none;
        position: fixed;
        z-index: 1;
        
        width: 100%;
    }

    .SideBar_List_ListItem {
        width: 88%;
    }

    .MainFrame {

    }

    .MainFrame_Frame {
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 20px;



    }

    #bar-icon {
        display: block;
    }
    .MainFrame_Title {
        font-size: 24px;
    }

        .trade-frame {
        flex-direction: row;
        overflow-x: scroll;
        scrollbar-width: none;
    }

    .MainFrame_Frame_HalfFrame {
        min-width: 0;
        width: 96%;
        
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 480px) {

    .MainFrame_ProfileFrame {
        width: 100%;
        height: fit-content;



        margin-top: 20px;
    }

    
    .MainFrame_ProfileFrame_Frame {
        display: flex;
        flex-direction: column;

        width: 50%;


        margin-left: auto;
        margin-right: auto;
        
    }

    .MainFrame_ProfileFrame_Frame_Data {
        margin-left: 0;

    }
    .MainFrame_ProfileFrame_Frame_Img {
        margin-left: auto;
        margin-right: auto;
    }

    .MainFrame_ProfileDataFrame {
        
        height: fit-content;
    }

    .MainFrame_ProfileFrame_Frame {
        width: 90%;
    }

    .MainFrame_ProfileDataFrame_Frame {
        width: 90%;
        height: 100%;
    }

    .MainFrame_ProfileDataFrame_Frame_Input {
        height: 30px;

    }

    .MainFrame_SaveFrame {
        margin-top: 0;
        padding-bottom: 30px;
    }

    .MainFrame_SaveFrame_Frame {
        width: 90%;
    }

    .MainFrame_SaveFrame_Frame_text {
        font-size: 23px;
        font-weight: 500;

        width: fit-content;
        height: fit-content;


        text-align: center;
        justify-items: center;

        padding-top: 10px;
        padding-bottom: 10px;

        padding-left: 25px;
        padding-right: 25px;

        border-radius: 10px;

        color: black;
        background-color: #00ff99;

        
        transition: 250ms;
    }
}