.inter-text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #09090e;
}

.body_loginFrame {
    width: 100%;
    height: 100%;

    background-color: #09090e;


    align-content: center;
}

.body_loginFrame_Frame {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 70%;
}

.body_loginFrame_Frame_Title {
    margin-top: 0;
    margin-bottom: 30px;
    
    width: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    max-width: 400px;
    color: white;

    font-size: 45px;
    font-weight: 700;
}

.body_loginFrame_Frame_input {
    width: 90%;
    max-width: 400px;
    height: 5%;

    margin-left: auto;
    margin-right: auto;

    color: white;
    background-color: transparent;
    border: 1px solid #48c45c;

    margin-top: 10px;
    margin-bottom: 15px;

    outline: none;

    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding-left: 15px;

    display: block;
}

.body_loginFrame_Frame_continue {
    font-size: 20px;
    font-weight: 500;
    margin-top: 25px;
    max-width: 400px;
    margin-bottom: 5px;
    width: fit-content;

    border-radius: 12px;
    background-color: #48c45c;
    color: black;

    margin-left: auto;
    margin-right: auto;

    position: relative;
    cursor: pointer;
    overflow: hidden;

    transition: 250ms;

    padding: 10px 15px;
}


.body_loginFrame_Frame_continue:hover {
    transform: translateY(2px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.body_loginFrame_Frame_ChangeFrame {
    display: flex;


    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.body_loginFrame_Frame_ChangeFrame_text {

    
    color: white;

    

    margin-top: 15px;
    margin-bottom: 0;
    display: block;
    font-size: 13px;
    font-weight: 400;
    margin-left: 5px;
}

.sign-up {
    color: #48c45c;
    text-decoration: underline;
    cursor: pointer;
}

.body_loginFrame_Frame_text {
    color: white;


    max-width: 400px;
    font-size: 14px;
    font-weight: 400;
    margin-left: 5px;

    width: auto;
    margin-left: auto;
    margin-right: auto;

    margin-top: 0;
    margin-bottom: 0;
}

