.inter-text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


html, body {
    margin: 0;
}

body {
    display: flex;
    align-items: stretch;
    overflow: hidden;
    background-color: #121212;
}

.SideBar {
    background-color: #121212;
    width: 260px;
    height:auto;


    border-right: 1px solid #252525;

}

.SideBar_Title {
    color: white;
    font-size: 35px;
    font-weight: 700;


    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;

    padding-left: 30px;

    display: block;
    text-decoration: none;



}

.chart-flex {
    flex-wrap: wrap;
}

.stat-flex {
    flex-wrap: wrap;
}

.SideBar_Title:hover {
    cursor: pointer;
}

.SideBar_List {
    text-decoration: none;
    list-style: none;

    height: 60%;

    padding: 0;
    margin: 0;
}

.SideBar_List_ListItem {
    display: flex;
    align-items: center;
    padding-left: 30px;
    margin-bottom: 0;
    margin-top: 5px;

    margin-left: auto;
    margin-right: auto;

    border-radius: 9px;

    width: 160px;

    height: 40px;
    transition: 350ms;
}

.SideBar_List_ListItem:hover {
    background-color: #31363f;
    cursor: pointer;
}

.SideBar_List_ListItem:hover p {
    color: white;
}



.selected-item {
    background-color: #00ff99;
}

.selected-item p {

    color: black;
}

.SideBar_List_ListItem_Img {
    width: 12.5%;
    height: 60%;
    margin-right: 10px;
}

.align-center {
    align-content: center;
    justify-items: center;
}

.SideBar_List_ListItem_Text {
    color: rgb(177, 177, 177);
    font-size: 15px;
    font-weight: 500;
}

.anchor {
    text-decoration: none;
}

.MainFrame {
    width: 100%;
    height: 100vh;

    overflow-y: scroll;
    scrollbar-color: rgb(14, 12, 12) transparent;

}


.MainFrame_HeadFrame {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}

#bar-icon {
    color: white;
    display: none;
    padding-left: 2.3%;

}


#bar-icon:hover {
    cursor:pointer;
}

.MainFrame_Title {

    font-size: 35px;
    font-weight: 700;
    color: white;

    width: 68%;
    padding-left: 2.3%;

    margin-top: 0;
    margin-bottom: 0;
}



.MainFrame_Frame {
  display: flex;

  gap: 30px;

  width: 100%;
  height: auto;

    scrollbar-color: black transparent;
  overflow-y: auto;

  margin-top: 10px;
}


.updlog_frame {
    border-radius: 10px;

    height: fit-content;
    width: 90%;
    background-color: #181818;
    border: 1px solid #252525 ;

    margin-left: 30px;
}

.updlog_title {
    color: white;
    font-size: 26px;
    font-weight: 700;
    margin-top: 15px;
    width: fit-content;
    height: fit-content;

    margin-left: 20px;
    margin-bottom: 0;

}

.updlog_date {
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: gray;


    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.updlog_infoTitle {
    color: white;
    font-size: 20px;
    font-weight: 600;

    width: fit-content;
    height: fit-content;

    margin-bottom: 5px;

    margin-left: 20px;
}

.updlog_info {
    color: rgb(161, 161, 161);
    font-size: 15px;
    font-weight: 500;

    padding-left: 10px;

    width: fit-content;
    height: fit-content;

    margin-top: 10px;
    margin-bottom: 10px;

    margin-left: 20px;
}


.ChartFrame {
    margin-top: auto; 
    margin-bottom: auto; 

    height: 100%; 
    width: 20%;

    align-content: center;
}

.Doughnut_Chart {
    width: 100%; 
    height: 100%;

}

.flex-box {
    display: flex;
}

.stats_halfdiv {
    width: 50%;

}

.stats-title {
    padding-left: 20px;

    margin-bottom: 0;
    color: gray;
    font-size: 16px;
    font-weight: 500;
}

.stats-text {
    padding-left: 20px;

    color: white;
    margin-top: 10px;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 0;
}

#WLRChart {

    margin-bottom: -10px;
    margin-left: 10px;
    margin-top: 16px;
    width: 120px;
    height: 120px;
}

#PLChart {

    margin-bottom: -10px;
    margin-left: 10px;
    margin-top: 16px;
    width: 120px;
    height: 120px;
}



.bar {
    width: 95%;
    height: 10px;

    margin-left: auto;
    margin-right: auto;

    margin-top: 10px;
    background-color: #262626;
    border-radius: 10px;
}

.bar-fill {
    width: 0%;
    height: 100%;
    border-radius: 10px;
    background-color: #00ff99;
}

.bar-text {
    color: white;
    font-size: 13px;
    font-weight: 700;

    padding-right: 25px;

    float: right;
    margin-bottom: 0;
    margin-top: 5px;


}

.trades-div {
    height: 500px;
    width: 96%;

    border-radius: 10px;

    margin-top: 30px;

    background-color: #181818;
    border: 1px solid #252525 ;
    margin-left: auto;
    margin-right: auto;
}

.trade-frame {
    width: 97%;
    height: 60px;

    border-bottom: 1px solid #31363f;

    margin-left: auto;
    margin-right: auto;


    gap: 3px;
    
}

.left_Half {
    margin-left: 30px;
}
.right_Half {
    margin-right: 30px;
}
.trade-text {
    padding-left: 15px;
    width: 14.285714285714285714285714285714%;

    margin-top: 0;
    margin-bottom: 0;

    align-content: center;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.example-text {
    color: gray;
}

.green-text {
    color: #00ff99;
}

.red-text {
    color: #ff4747;
}

.truncate {
  overflow: hidden;          /* hides extra text */
  text-overflow: ellipsis;   /* adds "..." at the end */
  white-space: nowrap;       /* prevents text wrapping */
}


@media (max-width: 1100px) {
    body {
        display: flex;
        flex-direction: column;

    }

    .SideBar {
        height: 100vh;
    }

    
    .SideBar {
        display: none;
        position: fixed;
        z-index: 1;
        
        width: 100%;
    }

    .SideBar_List_ListItem {
        width: 88%;
    }

    .MainFrame {

    }

    .MainFrame_Frame {
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 20px;



    }

    #bar-icon {
        display: block;
    }
    .MainFrame_Title {
        font-size: 24px;
    }

    .trade-frame {
        flex-direction: row;
        overflow-x: scroll;
        scrollbar-width: none;
    }

    .MainFrame_Frame_HalfFrame {
        min-width: 0;
        width: 96%;
        
        margin-left: auto;
        margin-right: auto;
    }
}

.mainframe-loading {
    width: 100%;
    max-width: 360px;
    min-width: 200px;
    height: 55px;
    background-color: #121212;
    border-radius: 15px;
    border: 1px solid #252525 ;

    right: 0;
    bottom: 0;


    display: none;
    transform: translateY(200px);
    transition: 750ms;
    margin-bottom: 15px;
    margin-right: 30px;
    position: fixed;


    align-content: center;
}

.spin-icon {
    width: 16px;
    height: 16px;

    color: rgb(253, 253, 253);
    animation: spinicon 3s infinite;
}

.done-icon {
    width: 16px;
    height: 16px;

    color: rgb(253, 253, 253);
    background-color: #00ff993f;
    border-radius: 100%;
    color: #00ff99;
}

#load-frame {
    display: none;
}

.load-text {
    font-size: 15px;
    font-weight: 600;
    color: white;

    margin-left: 14px;
}

.loading-frame {
    display: flex;



    align-items: center;

    margin-left: 20px;
}

@keyframes spinicon {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 480px) {

    body {
        position: fixed;
    }

    .MainFrame {
        width: 100vw;
    }


    .MainFrame_StatsFrame {
        height: fit-content;
        padding-bottom: 25px;
    }

    .SideBar {
        height: 100vh;
        height: 100dvh;
    }

    .StatsFrame_Title{
        font-size: 20px;
    }

    #WLRChart {
        width: 100px;
        height: 100px;
    
    }

    #PLChart {
        width: 100px;
        height: 100px;
    
    }
    
    .trades-div {
        width: 92%;
    }

    .MainFrame_Frame_HalfFrame {
        width: 92%;
    }

    .trade-frame {
        width: 97%;
    }

    .trade-text {
        font-size: 10px;
    }

    .trade-frame {
        flex-direction: row;
        overflow-x: scroll;
        scrollbar-width: none;
    }

    .stats-text {
        font-size: 20px;
    }

    .stats-title {
        font-size: 15px;
    }
}

