html, body {
    scroll-behavior: smooth;
    scroll-behavior: smooth;
}

.inter-text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body, html {
    margin: 0;
    height: 100%;

    background-color: #1e1e24;
}

.body_Header {
    width: 100%;
    height: 12%;

    display: flex;
}

.body_DIV {
    width: 33.33333333333333%;
    height: 100%;


    margin: 0;
}

.body_Header_Title {
    text-align: center;
    align-content: center;

    background: linear-gradient(
        to bottom, 
        rgb(2, 103, 255), 
        rgb(120, 201, 255)
    );
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: calc(2.7vw + 1vh);
    font-weight: 800;
}

.body_Header_Nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.body_Header_Nav_Item {
    text-decoration: none;

    color: white;

    font-size: calc(0.945vw + .35vh);
    font-weight: 500;
    margin-left: calc(1.35vw + 0.5vh);
    margin-right: calc(1.35vw + 0.5vh);
    transition: 250ms;
}

.body_Header_Nav_Item:hover {
    cursor: pointer;
    color: gray;
    transform: translateY(3px);
    text-decoration: underline;
}

.body_Header_SL {
    display: flex;
    align-items: center;
    justify-content: center;
}

.body_Header_SL_Login {
    color: white;
    margin-left: calc(1.08vw + 0.4vh);
    margin-right: calc(1.08vw + 0.4vh);

    text-decoration: none;

    font-size: calc(1.35vw + .5vh);
    font-weight: 600;
    transition: 250ms;
}

.body_Header_SL_Login:hover {
    transform: translateY(3px);
    color: gray;
    cursor: pointer;
}

.body_Header_SL_SignUp {
    position: relative;
    z-index: 1;

    margin-left: calc(1.08vw + 0.4vh);
    margin-right: calc(1.08vw + 0.4vh);

    font-size: calc(1.35vw + .5vh);
    font-weight: 600;

    color: white;
    padding: 10px;

    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;

    text-decoration: none;

    transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.body_Header_SL_SignUp::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -2;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgb(2, 103, 255), rgb(120, 201, 255));
}


.body_Header_SL_SignUp::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgb(2, 76, 189), rgb(90, 151, 192));
    opacity: 0;
    transition: opacity 0.5s ease;
}


.body_Header_SL_SignUp:hover::before {
    opacity: 1;
}

.body_Header_SL_SignUp:hover {
    transform: translateY(3px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}


.body_Body {
    height: 88%;
    width: 100%;

    background-color: #1e1e24;
}

.body_Body_TitleDiv {
    width: 100%;
    height: 50%;

    padding-top: 15px;

    align-content: center;
    justify-items: center;
}

.body_Body_TitleDiv_Title {

    color: white;
    font-size: calc(3.375vw + 1.25vh);
    font-weight: 700;

    margin: 0;
    width: 70%;
    height: 100%;
    text-align: center;

}

.body_Body_Nav {
    width: 100%;
    height: 15%;

    display: flex;

    align-items: center;
    justify-content: center;
}

.body_Body_Nav_Item {
    margin-left: calc(0.81vw + 0.3vh);
    margin-right: calc(0.81vw + 0.3vh);

    text-decoration: none;
    color: white;


    font-size: calc(1.35vw + .5vh);
    font-weight: 600;

    padding: 15px;
    border-radius: 10px;
}


.body_Body_Nav_Item_1 {
    position: relative;
    z-index: 1;


    font-size: calc(1.35vw + .5vh);
    font-weight: 600;

    color: white;
    padding: 15px;

    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;

    transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.body_Body_Nav_Item_1::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -2;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgb(2, 103, 255), rgb(120, 201, 255));
}


.body_Body_Nav_Item_1::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgb(2, 76, 189), rgb(90, 151, 192));
    opacity: 0;
    transition: opacity 0.5s ease;
}


.body_Body_Nav_Item_1:hover::before {
    opacity: 1;
}

.body_Body_Nav_Item_1:hover {
    transform: translateY(3px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.body_Body_Nav_Item_2 {
    background-color: white;
    box-shadow: 0px 0px 6px 1px rgb(74, 147, 255);

    background: linear-gradient(
        to bottom, 
        rgb(2, 103, 255), 
        rgb(120, 201, 255)
    );
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 150ms;
}

.body_Body_Nav_Item_2:hover {
    cursor: pointer;
    box-shadow: 0px 0px 6px 1px rgb(52, 103, 180);
    transform: translateY(3px);
}

.body_Body_ImgFrame {
    width: 100%;
    height: 750px;

    display: flex;
    justify-content: center;
    
    padding-bottom: 50px;
    margin-top: 50px;

}

.body_Body_ImgFrame_Img {
    width: 80%;
    height: 750px;
    z-index: 1;

    border-radius: 18px;
    box-shadow: 0 0 6px 1px rgb(52, 103, 180);

}

.body_Body_ImgFrame_Img_Shadow {
    width: 80%;
    height: 750px;

    position: absolute;
    z-index: 0;
    background: linear-gradient(
        to bottom, 
        rgb(2, 103, 255), 
        rgb(120, 201, 255)
    );

    border-radius: 18px;
    transform: translate(15px, 15px);
}

.body_Body_Title2 {
    width: 100%;
    height: 10%;

    align-content: center;
    text-align: center;

    color: white;
    font-size: calc(2.7vw + 1vh);
    font-weight: 700;

    margin-bottom: 0;
    padding-top: 25px;

}

.body_Body_Platform_SectionDiv {

    width: 100%;
    height: 700px;
    display: flex;

    justify-content: center;
}

.body_Body_Platform_SectionDiv_div {
    width: 50%;
    align-content: center;
    overflow-x:hidden;
    overflow-y: hidden;
}

.div_Left {
    justify-content: right;
}

.body_Body_Platform_SectionDiv_Textdiv {
    justify-items: center;
}

.TextDiv_Left {
    justify-items: left;
}

.body_Body_Platform_SectionDiv_Textdiv_Title {

    align-content: center;
    color: white;
    font-size: calc(1.89vw + .8vh);
    font-weight: 700;
    margin-bottom: 5px;
    margin-left: 70px;
    margin-right: 185px;

    width: 60%;
    height: fit-content;
}

.body_Body_Platform_SectionDiv_Textdiv_Text {
    align-content: center;
    color: white;
    font-size: calc(0.945vw + .35vh);
    font-weight: 500;

    width: 70%;
    margin-right: 90px;
    margin-left: 70px;

    height: fit-content;
}

.flexbox {
    display: flex;
    align-items: center;

}

.body_Body_Platform_SectionDiv_div_Img {
    height: 600px;
    width: 1200px;
    margin-left: 20px;
    z-index: 1;

    border-radius: 18px;
    box-shadow: -8px -8px 6px 1px rgb(73, 146, 255);
}

.img_Left {
    margin-right: 20px;
    box-shadow: 8px 8px 6px 1px rgb(73, 146, 255);
}

.body_Body_Pricing {
    width: 100%;
    height: 70%;

    justify-items: center;
}

.body_Body_Pricing_Div {
    width: 80%;
    height: 80%;
    display: flex;
    margin-top: 45px;
    padding-bottom: 50px;

    justify-content: center;
    align-items: center;

}

.body_Body_Pricing_Div_PlanDiv {
    box-shadow: 0px 0px 6px 1px rgb(74, 147, 255);
    border-radius: 18px;
    width: 23%;
    height: 100%;

    margin-left: 15px;
    margin-right: 15px;
}

.body_Body_Pricing_Div_PlanDiv_Title {
    width: 100%;
    text-align: center;

    font-size: calc(2.025vw + .75vh);
    font-weight: 700;

    margin-bottom: 0;
    margin-top: 5px;

    background: linear-gradient(
        to bottom, 
        rgb(2, 103, 255), 
        rgb(120, 201, 255)
    );
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.body_Body_Pricing_Div_PlanDiv_ListDiv {
    display: flex;
    height: 60%;

    justify-content: center;
    
}

.body_Body_Pricing_Div_PlanDiv_ListDiv_List {

    width: 40%;

    margin-top: 0;
    list-style: none;
    padding-left: 0;

    justify-items: center;
}

.body_Body_Pricing_Div_PlanDiv_ListDiv_List_ListItem {
    color: gray;
    margin-top: 5px;
    font-size: calc(0.945vw + .35vh);
    font-weight: 500;
    text-align: center;

    width: 80%;
}

.body_Body_Pricing_Div_PlanDiv_PurchaseDiv {
    width: 100%;
    height: 13%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.body_Body_Pricing_Div_PlanDiv_PurchaseDiv_Button {

    width: 50%;
    height: 100%;
    text-align: center;
    align-content: center;
    text-decoration: none;

    font-size: calc(1.35vw + .5vh);
    background: linear-gradient(
        to bottom, 
        rgb(2, 103, 255), 
        rgb(120, 201, 255)
    );
    color: white;
    border-radius: 12px;
    font-weight: 700;


    display: inline-block;
    transition: 250ms;
}

.body_Body_Pricing_Div_PlanDiv_PurchaseDiv_Button:hover {
    cursor: pointer;
    width: 52%;
    height: 105%;
}