.inter-text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.anchor {
    text-decoration: none;
}


.MainFrame_NotesFrame {
    display: flex;
    width: 100%;
    height: 100%;

}

.MainFrame_NotesFrame_SideBar {
    width: 250px;
    height: 100%;

    
    background-color: #121212;
    border-right: 1px solid rgb(92, 92, 92);
}


.MainFrame_NotesFrame_SideBar_Title {
    width: 100%;
    height: 60px;


    margin-top: 0;
    margin-bottom: 0;
    align-content: center;
    align-items: center;

    display: flex;

    padding-left: 35px;
    font-size: 30px;
    font-weight: 600;
    color: white;
}

#bar-icon {
    color: white;
    display: none;

    z-index: 5;
}

#bar-icon:hover {
    cursor:pointer;
}

#bar-click {
    margin-right: 2.3%;

}

.MainFrame_NotesFrame_SideBar_Title_Notes {

    height: 75%;

    overflow-y: auto;
    scrollbar-width: none;

    justify-items: center;
}

.MainFrame_NotesFrame_SideBar_Title_Notes_NoteFrame {
    width: 92%;
    height: 10%;

    border-radius: 10px;
    color: transparent;

    margin-top: 5px;

    transition: 250ms;
}

.MainFrame_NotesFrame_SideBar_Title_Notes_NoteFrame:hover {
    background-color: rgb(52, 53, 53);
    cursor: pointer;
}

.note-selected {
    background-color: rgb(52, 53, 53);
}

.MainFrame_NotesFrame_SideBar_Title_Notes_NoteFrame_Title {
    padding-left: 25px;
    padding-top: 7px;
    font-size: 20px;
    font-weight: 600;
    color: white;

    margin: 0;
}

.MainFrame_NotesFrame_SideBar_Title_Notes_NoteFrame_Date {
    padding-left: 25px;
    padding-top: 2px;
    font-size: 12px;
    font-weight: 600;
    color: rgb(134, 134, 134);

    margin: 0;
}

.MainFrame_NotesFrame_SideBar_Title_AddNote {
    padding-left: 35px;
    padding-top: 2px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(177, 177, 177);
    align-content: center;

    height: 7%;
    margin: 0;
    margin-top: 6px;

    transition: 250ms;
}

.MainFrame_NotesFrame_SideBar_Title_AddNote:hover {
    background-color: gray;
    cursor: pointer;
}

.MainFrame_NotesFrame_MainFrame {
    width: 80%;
    height: 100%;

    overflow-y: auto;
    scrollbar-color: rgb(14, 12, 12) transparent;
    background-color: #121212;
}

.MainFrame_NotesFrame_MainFrame_Title {
    padding-left: 70px;
    font-size: 40px;
    font-weight: 600;
    color: white;

    width:auto;
    height: fit-content;



    margin-bottom: 0;

    padding-bottom: 0;

    align-content: center;
}

.MainFrame_NotesFrame_MainFrame_Date {
    padding-left: 70px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(124, 124, 124);

    width: auto;
    height: fit-content;

    margin-top: 0px;

    align-content: center;
}

.MainFrame_NotesFrame_MainFrame_TextAreaDiv {
    width: 100%;
    height: 75%;




}

.MainFrame_NotesFrame_MainFrame_TextAreaDiv_TextArea {
    width: 87%;
    height: 100%;


    padding-left: 70px;
    font-size: 15px;
    font-weight: 500;
    color: white;
    background-color: transparent;

    outline: none;
    border: none;
    resize: none;
}

.MainFrame_NotesFrame_MainFrame_TextAreaDiv_TextArea:focus {
    border: none;
}

.MainFrame_NotesFrame_SideBar_Title_TitleDiv {
    height: 5%;
    width: 100%;

    display: flex;
    justify-content: center;
}

.MainFrame_NotesFrame_SideBar_Title_TitleDiv_Input {
    background-color: transparent;

    width: 85%;
    height: 89%;
    outline: none;
    border: none;

    color: white;

    background-color: #181818;
    border: 1px solid #252525 ;

    padding-left: 15px;

    font-size: 17px;
    font-weight: 500;

    border-radius: 12px;
}




html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: stretch;
    overflow: hidden;
    background-color: #121212;
}

.SideBar {
    background-color: #121212;
    width: 260px;
    height:auto;


    border-right: 1px solid #252525;

}

.SideBar_Title {
    color: white;
    font-size: 35px;
    font-weight: 700;


    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;

    padding-left: 30px;

    display: block;
    text-decoration: none;



}

.SideBar_Title:hover {
    cursor: pointer;
}

.SideBar_List {
    text-decoration: none;
    list-style: none;

    height: 60%;

    padding: 0;
    margin: 0;
}

.SideBar_List_ListItem {
    display: flex;
    align-items: center;
    padding-left: 30px;
    margin-bottom: 0;
    margin-top: 5px;

    margin-left: auto;
    margin-right: auto;

    border-radius: 9px;

    width: 160px;

    height: 40px;
    transition: 350ms;
}

.SideBar_List_ListItem:hover {
    background-color: #31363f;
    cursor: pointer;
}

.SideBar_List_ListItem:hover p {
    color: white;
}



.selected-item {
    background-color: #00ff99;
}

.selected-item p {

    color: black;
}

.SideBar_List_ListItem_Img {
    width: 12.5%;
    height: 60%;
    margin-right: 10px;
}

.align-center {
    align-content: center;
    justify-items: center;
}

.SideBar_List_ListItem_Text {
    color: rgb(177, 177, 177);
    font-size: 15px;
    font-weight: 500;
}

.anchor {
    text-decoration: none;
}

.MainFrame {
    width: 100%;
    height: 100vh;
    height: 100dvh;


    scrollbar-color: rgb(14, 12, 12) transparent;

}


.MainFrame_HeadFrame {
    width: 100%;
    display: flex;
}

.MainFrame_Title {

    font-size: 2.5vw;
    font-weight: 700;
    color: white;

    width: 68%;
    padding-left: 2.3%;

    margin-top: 20px;
    margin-bottom: 2px;
}

.MainFrame_HeadFrame_ButtonsDiv {
    display: flex;
    gap: 2%;

    justify-content: right;
    align-items: center;



    width: 30%;
}

.MainFrame_HeadFrame_ButtonsDiv_Button {
    height: 47%;
    width: 40%;
    display: inline-block;

    background-color: #21252bce;
    color: white;

    font-size: 15px;
    font-weight: 600;
    border: none;

    margin-top: 15px;
    margin-right: 30px;

    transition: 250ms;

    border-radius: 8px;
}
#TradeOpen_Button {
    color: #121228;
    
    background-color: #00ff99;



}
#TradeClose_Button {
    color: rgb(243, 233, 233);
    
    border: 1px solid #312e2e;
}

.MainFrame_HeadFrame_ButtonsDiv_Button:hover {
    cursor: pointer;
    transform: scale(1.03);
}


.StatsFrame_textTitle {
    text-decoration: underline;
}

.ChartFrame {
    margin-top: auto; 
    margin-bottom: auto; 

    height: 100%; 
    width: 20%;

    align-content: center;
}

.Doughnut_Chart {
    width: 100%; 
    height: 100%;

}

.flex-box {
    display: flex;
}

.stats_halfdiv {
    width: 50%;

}

.stats-title {
    padding-left: 20px;

    margin-bottom: 0;
    color: gray;
    font-size: 16px;
    font-weight: 500;
}

.stats-text {
    padding-left: 20px;

    color: white;
    margin-top: 10px;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 0;
}

#WLRChart {

    margin-bottom: -10px;
    margin-left: 10px;
    margin-top: 6px;
    width: fit-content;
    height: fit-content;
}

#PLChart {

    margin-bottom: -10px;
    margin-left: 10px;
    margin-top: 6px;
    width: fit-content;
    height: fit-content;
}



.bar {
    width: 95%;
    height: 10px;

    margin-left: auto;
    margin-right: auto;

    margin-top: 10px;
    background-color: #262626;
    border-radius: 10px;
}

.bar-fill {
    width: 50%;
    height: 100%;
    border-radius: 10px;
    background-color: #00ff99;
}

.bar-text {
    color: white;
    font-size: 13px;
    font-weight: 700;

    padding-right: 25px;

    float: right;
    margin-bottom: 0;
    margin-top: 5px;


}

.trades-div {
    height: 500px;
    width: 96%;

    border-radius: 10px;

    margin-top: 30px;

    background-color: #181818;
    border: 1px solid #252525 ;
    margin-left: auto;
    margin-right: auto;
}

.trade-frame {
    width: 97%;
    height: 60px;

    border-bottom: 1px solid #31363f;

    margin-left: auto;
    margin-right: auto;


    gap: 3px;
    
}

.trade-text {
    padding-left: 15px;
    width: 14.285714285714285714285714285714%;

    margin-top: 0;
    margin-bottom: 0;

    align-content: center;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.example-text {
    color: gray;
}

.green-text {
    color: #00ff99;
}

.truncate {
  overflow: hidden;          /* hides extra text */
  text-overflow: ellipsis;   /* adds "..." at the end */
  white-space: nowrap;       /* prevents text wrapping */
}

.bottom-div {
    width: 100%;
    height: 80px;
    

    gap: 15px;
}

.bottom-buttons {

    width: 14%;
    height: 50px;

    display: block;
    font-size: 16px;
    font-weight: 500;

    padding-left: 10px;

    border: 1px solid #333333;

    background-color: transparent;
    color: white;

    scrollbar-color: black transparent;

    border-radius: 10px;

    resize: none;

    margin-bottom: 30px;
}

.bottom-buttons:hover {
    cursor: pointer;
}

#close-button {
    display: none;
}

.green-button {
    background-color: #00ff99;
    color: black;

    margin-left: 60px;
}

@media (max-width: 1100px) {
    body {
        display: flex;
        flex-direction: column;
    }
    
    .SideBar {
        display: none;
        position: fixed;
        z-index: 1;
        height: 100vh;
        height: 100dvh;
        
        width: 100%;
    }

    .SideBar_List_ListItem {
        width: 88%;
    }

    .MainFrame {

    }



    .MainFrame_Title {
        margin-left: 10%;
        margin-right: 0;
    }

    .MainFrame_description {
        margin-left: 10%;
        margin-right: 0;
    }

    #bar-icon {
        display: block;
    }
    .MainFrame_Title {
        font-size: 24px;
    }

    .log_frame {
        width: 80%;
        height: fit-content;
    }
}

@media (max-width: 480px) {
    body {
        display: flex;
        flex-direction: column;
    }
    
    .SideBar {
        display: none;
        position: fixed;
        z-index: 1;
        
        width: 100%;
    }

    .SideBar_List_ListItem {
        width: 88%;
    }

    .MainFrame {

    }

    .MainFrame_NotesFrame_SideBar {
        width: 100%;
        height: 100vh;
        height: 100dvh;

        position: fixed;
        display: block;
        
        background-color: #121212;
        border-right: 1px solid rgb(92, 92, 92);
    }

    .MainFrame_NotesFrame_MainFrame {
        width: 100%;
        height: 100%;
        

        overflow-y: auto;
        scrollbar-color: rgb(14, 12, 12) transparent;
        background-color: #121212;
    }

    .MainFrame_NotesFrame_MainFrame_Title {
        padding-left: 20px;
        font-size: 25px;
    }

    .MainFrame_NotesFrame_MainFrame_Date {
        padding-left: 20px;
        font-size: 15px;
    }

    .MainFrame_NotesFrame_MainFrame_TextAreaDiv_TextArea {
        padding-left: 20px;
        font-size: 15px;
    }

    .bottom-div {
        height: auto;
        padding-bottom: 20px;
        flex-direction: column;
        gap: 10px;
    }

    .green-button {
        background-color: #00ff99;
        color: black;
        margin-left: 0;
    }

    .bottom-buttons {

        width: 80%;
        height: 40px;

        display: block;
        font-size: 16px;
        font-weight: 500;

        padding-left: 10px;

        border: 1px solid #333333;

        background-color: transparent;
        color: white;

        scrollbar-color: black transparent;

        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;

        resize: none;

        margin-top: 0;
        margin-bottom: 0;
    }

    #bar-icon {
        display: block;
    }
    .MainFrame_Title {
        font-size: 24px;
    }

    #close-button {
        display: block;
    }
}
