.inter-text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


html, body {
    margin: 0;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.SideBar {
    background-color: #21252b;
    width: 15%;
    height: 100%;
    border-right: 1px solid rgb(92, 92, 92);;

}

.SideBar_Title {
    color: white;
    font-size: 2.2vw;
    font-weight: 700;

    margin-top: 20px;
    margin-bottom: 0;
    width: 100%;
    text-align: center;

    display: block;
    text-decoration: none;

    padding-bottom: 20px;

}

.SideBar_Title:hover {
    cursor: pointer;
}

.SideBar_List {
    text-decoration: none;
    list-style: none;
    
    height: 60%;

    padding: 0;
    margin: 0;
}

.SideBar_List_ListItem {
    display: flex;
    align-items: center;
    padding-left: 30px;
    margin-bottom: 0;
    margin-top: 0;

    height: 10%;
    transition: 350ms;
}

.SideBar_List_ListItem:hover {
    background-color: #4ecf524b;
    cursor: pointer;
}


.selected-item {
    background-color: #4ecf524b;
    border-right: 1px solid #4ecf53;

    color: white;
}

.selected-item p {

    color: white;
}

.SideBar_List_ListItem_Img {
    width: 12.5%;
    height: 60%;
    margin-right: 10px;
}

.align-center {
    align-content: center;
    justify-items: center;
}

.SideBar_List_ListItem_Text {
    color: rgb(177, 177, 177);
    font-size: 2.4vh;
    font-weight: 500;
}

.anchor {
    text-decoration: none;
}

.MainFrame {
    width: 85%;
    height: 100%;
    background-color: #1e1e24;
}

.MainFrame_HeadFrame {
    width: 100%;
    display: flex;
}

.MainFrame_Title {

    font-size: 2.5vw;
    font-weight: 700;
    color: white;

    width: 68%;
    padding-left: 2.3%;

    margin-top: 20px;
    margin-bottom: 2px;
}


.MainFrame_HeadFrame_ButtonsDiv {
    display: flex;
    gap: 2%;

    justify-content: center;
    align-items: center;

    width: 30%;
}

.MainFrame_HeadFrame_ButtonsDiv_Button {
    height: 57%;
    width: 40%;
    display: inline-block;

    border: 1px solid #312e2e;

    background-color: #21252bce;
    color: white;

    font-size: 1.2vw;
    font-weight: 600;

    transition: 250ms;

    border-radius: 8px;
}
#TradeOpen_Button {
    color: rgb(243, 233, 233);
    background-color: #358b38;
}

#TradeClose_Button {
    color: rgb(243, 233, 233);
}

.MainFrame_HeadFrame_ButtonsDiv_Button:hover {
    cursor: pointer;
    transform: scale(1.03);
}


.MainFrame_Trades {
    width: 100%;
    height: 81%;

    justify-items: center;
}

.MainFrame_Trades_TradeFrame {
    width: 85%;
    height: 100%;

    margin-top: 25px;

    overflow-y: scroll;
    scrollbar-width: none;

    background-color: #21252bce;
    border: 1px solid #0050049f;
    border-radius: 8px;
}

.MainFrame_Trades_TradeFrame:hover {
    box-shadow: 0px 4px 12px  -5px #0050049f;
}

.MainFrame_Trades_TradeFrame_Trade {
    display: flex;
    align-items: center;

    height: 10%;
}

.tradeframe {
    height: 7%;
}

.tradeheader-text {
    font-size: 1.6vw;
    font-weight: 700;

    height: 100%;
    align-content: center;

    padding-left: 30px;

    color: rgb(177, 177, 177);

    margin-bottom: 0;
    margin-top: 0;
}

.tradeframe-text {
    color: rgb(243, 233, 233);
    font-size: 1.2vw;
    font-weight: 500;

    height: 100%;
    align-content: center;

    padding-left: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

.MainFrame_Trades_TradeFrame_Trade_Date {
    width: 30%;

    border-right: 1px solid rgb(92, 92, 92);
    border-bottom: 1px solid rgb(92, 92, 92);
}

.MainFrame_Trades_TradeFrame_Trade_Symbol {
    width: 20%;

    border-right: 1px solid rgb(92, 92, 92);
    border-bottom: 1px solid rgb(92, 92, 92);
}

.MainFrame_Trades_TradeFrame_Trade_PL {
    width: 20%;

    border-right: 1px solid rgb(92, 92, 92);
    border-bottom: 1px solid rgb(92, 92, 92);
}
.MainFrame_Trades_TradeFrame_Trade_Emotion {
    width: 21%;
    border-bottom: 1px solid rgb(92, 92, 92);
}


.red-text {
    color: red;
}

.green-text {
    color: green;
}
