.inter-text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


html, body {
    margin: 0;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.SideBar {
    background-color: #1b1d22;
    width: 15%;
    height: 100%;
    border-right: 2px solid #2d3139;

}

.SideBar_Title {
    color: white;
    font-size: 2.2vw;
    font-weight: 700;

    margin-top: 20px;
    margin-bottom: 0;
    width: 100%;
    text-align: center;

    border-bottom: 2px solid #2d3139;

    display: block;
    text-decoration: none;

    padding-bottom: 20px;

}

.SideBar_Title:hover {
    cursor: pointer;
}

.SideBar_List {
    text-decoration: none;
    list-style: none;

    height: 60%;

    padding: 0;
    margin: 0;
}

.SideBar_List_ListItem {
    display: flex;
    align-items: center;
    padding-left: 30px;
    margin-bottom: 0;
    margin-top: 5px;

    margin-left: auto;
    margin-right: auto;

    border-radius: 9px;

    width: 80%;

    height: 9%;
    transition: 350ms;
}

.SideBar_List_ListItem:hover {
    background-color: #31363f;
    cursor: pointer;
}

.SideBar_List_ListItem:hover p {
    color: white;
}



.selected-item {
    background-color: #14b04d;
    box-shadow: 0 0 7px rgba(34, 197, 94, 0.8);


}

.selected-item p {

    color: white;
}

.SideBar_List_ListItem_Img {
    width: 12.5%;
    height: 60%;
    margin-right: 10px;
}

.align-center {
    align-content: center;
    justify-items: center;
}

.SideBar_List_ListItem_Text {
    color: rgb(177, 177, 177);
    font-size: 2.2vh;
    font-weight: 500;
}

.anchor {
    text-decoration: none;
}

.MainFrame {
    width: 85%;
    height: 100%;
    background-color: #14161a;
}

.MainFrame_HeadFrame {
    width: 100%;
    display: flex;
}

.MainFrame_Title {

    font-size: 2.5vw;
    font-weight: 700;
    color: white;

    width: 68%;
    padding-left: 2.3%;

    margin-top: 20px;
    margin-bottom: 2px;
}

.MainFrame_HeadFrame_ButtonsDiv {
    display: flex;
    gap: 2%;

    justify-content: center;
    align-items: center;

    width: 30%;
}

.MainFrame_HeadFrame_ButtonsDiv_Button {
    height: 57%;
    width: 50%;
    display: inline-block;


    background-color: #21252bce;
    color: white;

    font-size: .9vw;
    font-weight: 600;
    border: none;

    transition: 250ms;

    border-radius: 8px;
}
#TradeOpen_Button {
    color: rgb(255, 255, 255);
    
    background-color: #14b04d;
    box-shadow: 0 0 7px rgba(34, 197, 94, 0.8);

}
#TradeClose_Button {
    color: rgb(243, 233, 233);
    
    border: 1px solid #312e2e;
}

.MainFrame_HeadFrame_ButtonsDiv_Button:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.MainFrame_EntriesFrame {
    width: 100%;
    height: 91%;
    padding-top: 4px;
}

.MainFrame_EntriesFrame_Entries {
    width: 95%;
    height: 97%;


    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;


    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-wrap: wrap;

    align-content: start;

    overflow-y: scroll;
    
    gap: 3% 2%;
}

.MainFrame_EntriesFrame_Entries::-webkit-scrollbar{
    display: none;
}



#Clone-Entry {
    display: none;
}

.MainFrame_EntriesFrame_Entries_Entry {
    width: 27%;
    height: 58%;


    background-color: #1b1d22;
    border: 1px solid #2d3139;
    border-radius: 10px;

    transition: 250ms;
}



.MainFrame_EntriesFrame_Entries_Entry_Header {
    width: 100%;
    height: 14%;
    margin-top: 10px;

    align-items: center;

    display: flex;
}

.MainFrame_EntriesFrame_Entries_Entry_HeaderLeft {
    display: flex;
    width: 50%;
    height: 100%;

    align-items: center;
}

.MainFrame_EntriesFrame_Entries_Entry_HeaderRight {
    display: flex;
    width: 50%;
    height: 100%;

    align-items: center;
    justify-content: right;
}

.MainFrame_EntriesFrame_Entries_Entry_Header_Title {
    color: white;

    font-size: 1.4vw;
    font-weight: 800;

    margin-top: 0;
    margin-bottom: 0;

    width: fit-content;


    padding-left: 25px;
    padding-right: 1%;
    padding-top: 1%;
    padding-bottom: 1%;

    transition: 250ms;
}

.MainFrame_EntriesFrame_Entries_Entry_Header_TextBox {
    color: white;


    font-size: .7vw;
    font-weight: 700;

    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;


    width: fit-content;
    height: fit-content;


    padding: 4px 13px;
    border-radius: 10px;

    transition: 250ms;
}

.opened-entry {
    background-color: #14b04d;
}

.closed-entry {
    border: 1px solid #2d3139;
}

.long-entry {
    background-color: #14b04d;
}

.short-entry {
    background-color: #d37426;
}

.Open-Type {
    margin-left: 0;
    margin-right: 19px;
}

.MainFrame_EntriesFrame_Entries_Entry_ImgFrame {
    width: 100%;
    height: 42%;

    display: flex;
    justify-content: center;
}

.MainFrame_EntriesFrame_Entries_Entry_ImgFrame_Img {
    width: 90%;
    height: 100%;
    box-shadow: 0 5px 10px rgb(46, 46, 46);

    border-radius: 15px;
}

.MainFrame_EntriesFrame_Entries_Entry_DataFrame {
    width: 100%;
    
    height: 29%;


    padding-bottom: 15px;

    border-bottom: 1px solid #2d3139;
}

.MainFrame_EntriesFrame_Entries_Entry_DataFrame_div {

    display: flex;
    width: 100%;
    height: 54%;

}

.MainFrame_EntriesFrame_Entries_Entry_DataFrame_div_div {
    width: 50%;
    height: 100%;
}

.MainFrame_EntriesFrame_Entries_Entry_DataFrame_div_div_nameText {
    font-size: .9vw;
    font-weight: 600;
    color: #707581;

    align-items: center;

    display: flex;

    margin-top: 10px;
    margin-bottom: 0;

    padding-left: 30px;
}

.MainFrame_EntriesFrame_Entries_Entry_DataFrame_div_div_icon {
    height: 18px;
    width: fit-content;


    margin-right: 2px;
}

.MainFrame_EntriesFrame_Entries_Entry_DataFrame_div_div_dataText {
    padding-left: 35px;
    font-size: 1vw;
    font-weight: 700;
    color: white;

    margin-top: 8px;

}

.green-text {
    color: #24c55f;
}

.red-text {
    color: #c01c10;
}

.MainFrame_EntriesFrame_Entries_Entry_MiscFrame {
    width: 100%;
    height: 10%;


    display: flex;
    justify-content: right;
    align-items: center;

    gap: 5px;
}

.MainFrame_EntriesFrame_Entries_Entry_MiscFrame_Button {
    width: 17%;
    height: 57%;
    

    background-color: #1b1d22;
    border: 1px solid #2d3139;

    color: rgb(177, 177, 177);

    font-size: .8vw;
    font-weight: 600;

    border-radius: 8px;
    transition: 250ms;

    margin-right: 5px;
}


.MainFrame_EntriesFrame_Entries_Entry_MiscFrame_Button:hover {
    cursor: pointer;
}


.MainFrame_TradeEntryView {
    width: 84.8%;
    height: 100%;

    background-color: rgba(255, 255, 255, 0.089); /* Semi-transparent background */
    backdrop-filter: blur(10px);

    position: absolute;

    display: none;

    align-content: center;
    justify-items: center;
}

.MainFrame_TradeEntryView_TradeFrame {
    width: 39%;
    height: 96%;


    background-color: #1b1d22;
    border: 2px solid #2d3139;
    border-radius: 18px;

    transition: 250ms;
}



.MainFrame_TradeEntryView_TradeFrame_Title {
    display: block;

    border-bottom: 2px solid #2d3139;;

    color: white;
    font-size: 2vw;
    font-weight: 700;
    text-align: center;

    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    margin-bottom: 15px;
}




.MainFrame_TradeEntryView_TradeFrame_div {
    width: 100%;
    height: fit-content;

    margin-bottom: 15px;
}

.MainFrame_TradeEntryView_TradeFrame_div_imgdiv {
    width: 100%; 
    height: 260px;


    display: flex;
    justify-content: center;
}

.MainFrame_TradeEntryView_TradeFrame_div_imgdiv_img {
    width: 85%;
    height: 100%;
    display: none;

    border-radius: 8px;
}

.MainFrame_TradeEntryView_TradeFrame_div_text {
    color: white;
    font-size: 13px;
    font-weight: 600;
    display: block;
    width: 90%;

    margin: 0;

    padding-left: 45px;
}

.MainFrame_TradeEntryView_TradeFrame_div_dropdowndiv {
    display: flex;

    align-items: center;

    margin-top: 12px;

    width: 100%;
    height: 45%;
}

.MainFrame_TradeEntryView_TradeFrame_div_dropdownedit {
    width: 20px;
    height: 20px;

    background-color: #23252b;
    border: 1px solid #2d3139;
    color: white;
    border-radius: 8px;
    padding: 7px 7px;

    z-index: 4;


    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0;
}

.MainFrame_TradeEntryView_TradeFrame_div_dropdownbutton{
    width: 83%;
    height: 35px;
    
    margin: 0;
    z-index: 1;

    padding-left: 20px;

    color: white;
    font-size: 16px;
    display: flex;

    align-items: center;

    background-color: #23252b;
    border: 1px solid #2d3139;
    border-radius: 10px;
}

.MainFrame_TradeEntryView_TradeFrame_div_dropdownbutton:hover {
    cursor: pointer;
}

.MainFrame_TradeEntryView_TradeFrame_div_dropdown_icon {
    width: 20px;
    height: 20px;
    color: rgb(212, 212, 212);

    margin-left: auto;
    margin-right: 5px;
    
}


.MainFrame_TradeEntryView_TradeFrame_div_dropdown {
    width: 33.6%;
    height: fit-content;
    

    padding: 0;
    padding-bottom: 4px;

    position: absolute;

    display: none;



    max-height: 200px;
    margin: 0;
    margin-top: 5px;
    margin-left: 46px;


    list-style-type: none;
    


    justify-items: center;

    background-color: #23252b;
    border: 1px solid #2d3139;
    border-radius: 10px;


    overflow-y: auto;

    z-index: 1;
}

.MainFrame_TradeEntryView_TradeFrame_div_dropdown::-webkit-scrollbar {
    display: none;
}

.default-dropdown {

}

.MainFrame_TradeEntryView_TradeFrame_div_dropdown_text {
    color: rgb(212, 212, 212);
    font-size: 15px;
    font-weight: 500;
    margin-top: 5px;
    margin-left: 0;

    display: flex;
    align-items: center;

    width: 97%;
    border-radius: 8px;
    height: fit-content;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 7px;
    transition: 250ms;
}

.MainFrame_TradeEntryView_TradeFrame_div_dropdown_text:hover {
    cursor: pointer;
    color: #2e2f31;

    background-color: #14b04d;
}

.MainFrame_TradeEntryView_TradeFrame_div_input {
    width: 83%;
    height: 30px;

    text-transform: uppercase;

    padding-left: 20px;
    margin-left: 44px;
    margin-top: 12px;


    color: white;
    font-size: 16px;


    align-items: center;

    background-color: #23252b;
    border: 1px solid #2d3139;
    border-radius: 8px;
}

.MainFrame_TradeEntryView_TradeFrame_div_input:focus {
    outline: 1px solid  #14b04d7a;
}

.MainFrame_TradeEntryView_TradeFrame_div_textarea {
    width: 85%;
    height: 100px;

    padding-left: 10px;
    margin-left: 44px;
    margin-top: 12px;

    resize: none;

    color: white;
    font-size: 14px;

    scrollbar-color: rgb(22, 22, 22) transparent;
    scrollbar-width: 5px;


    align-items: center;

    background-color: #23252b;
    border: 1px solid #2d3139;
    border-radius: 10px;
}

.MainFrame_TradeEntryFrame_TradeFrame_div_textarea:focus {
    outline: 1px solid  #14b04d7a;
}


.MainFrame_TradeEntryView_TradeFrame_div_buttondiv {
    width: 100%;
    height: fit-content;

    display: flex;
    justify-content: center;
    justify-items: center;

    gap: 15px;
}

.MainFrame_TradeEntryView_TradeFrame_div_buttondiv_button {
    height: 50px;
    width: 150px;

    font-size: 20px;
    font-weight: 700;

    border-radius: 8px;
    border: none;

    transition: 250ms;
}
.MainFrame_TradeEntryView_TradeFrame_div_buttondiv_button:hover {
    cursor: pointer;
    transform: scale(1.02);
}

#Save_button {
    color: rgb(255, 255, 255);
    background-color: #14b04d;
    box-shadow: 0 0 7px rgba(34, 197, 94, 0.8);
}

#Close_button {
    border: 2px solid #2d3139;
    background-color: #212329;

    color: rgb(177, 177, 177);
}

