.inter-text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


html, body {
    margin: 0;
    overflow: hidden;
}

body {
    display: flex;
    align-items: stretch;
    background-color: #121212;

    
    overflow-y: auto;
    scrollbar-color: rgb(14, 12, 12) transparent;

}

.SideBar {
    background-color: #121212;
    width: 260px;
    height:auto;


    border-right: 1px solid #252525;

}

.SideBar_Title {
    color: white;
    font-size: 35px;
    font-weight: 700;


    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;

    padding-left: 30px;

    display: block;
    text-decoration: none;



}

.SideBar_Title:hover {
    cursor: pointer;
}

.SideBar_List {
    text-decoration: none;
    list-style: none;

    height: 60%;

    padding: 0;
    margin: 0;
}

.SideBar_List_ListItem {
    display: flex;
    align-items: center;
    padding-left: 30px;
    margin-bottom: 0;
    margin-top: 5px;

    margin-left: auto;
    margin-right: auto;

    border-radius: 9px;

    width: 160px;

    height: 40px;
    transition: 350ms;
}

.SideBar_List_ListItem:hover {
    background-color: #31363f;
    cursor: pointer;
}

.SideBar_List_ListItem:hover p {
    color: white;
}



.selected-item {
    background-color: #00ff99;
}

.selected-item p {

    color: black;
}

.SideBar_List_ListItem_Img {
    width: 12.5%;
    height: 60%;
    margin-right: 10px;
}

.align-center {
    align-content: center;
    justify-items: center;
}

.SideBar_List_ListItem_Text {
    color: rgb(177, 177, 177);
    font-size: 15px;
    font-weight: 500;
}

.anchor {
    text-decoration: none;
}

.MainFrame {
    width: 100%;
    height: 100vh;

    overflow-y: scroll;
    scrollbar-color: rgb(14, 12, 12) transparent;

}

.MainFrame_HeadFrame {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}

#bar-icon {
    color: white;
    display: none;
    padding-left: 2.3%;
    
}


#bar-icon:hover {
    cursor:pointer;
}

.MainFrame_Title {

    font-size: 35px;
    font-weight: 700;
    color: white;

    width: 68%;
    padding-left: 2.3%;

    margin-top: 0;
    margin-bottom: 0;
}




.MainFrame_description {

    display: block;
    font-size: 16px;
    font-weight: 400;
    color: gray;

    width: 55%;

    padding-left: 2.3%;

    margin-top: 5px;
    margin-bottom: 0;
}


.example-text {
    color: gray;
}

.green-text {
    color: #00ff99;
}

.truncate {
  overflow: hidden;          /* hides extra text */
  text-overflow: ellipsis;   /* adds "..." at the end */
  white-space: nowrap;       /* prevents text wrapping */
}

.text-div {
    width: 50%;
}

.log_frames {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;

    gap: 30px;
    justify-content: center;
}

.log_frame {
    width: 45%;
    height: fit-content;

    padding-bottom: 40px;

    margin-bottom: 60px;
    margin-top: 30px;


    background-color: #181818;
    border: 1px solid #252525 ;
}

.entry-title {
    

    width: 92%;

    margin-left: auto;
    margin-right: auto;

    display: block;
    font-size: 19px;
    font-weight: 600;
    color: white;


    margin-top: 25px;
    margin-bottom: 10px;
}


.img-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 400px;
    width: 92%;

    margin-left: auto;
    margin-right: auto;

    border: 3px dashed #353535 ;
    border-radius: 10px;

    padding: 0px;
    cursor: pointer;
    transition: 250ms;
}

#img-analyze {
    display: none;
    flex-direction: column;

    text-align: center;
    align-content: center;
    height: 400px;
    width: 92%;


    font-size: 30px;
    font-weight: 700;
    color: #464a52;

    margin-left: auto;
    margin-right: auto;

    border: 3px dashed #353535 ;
    border-radius: 10px;

    padding: 0px;

   
}

.real-img {
    width: auto;
    height: auto;

    max-height: 400px;
    max-width: 92%;
}

.img-frame:hover {
    border-color: #00ff998a;
}

.upload-icon {
    height: 40px;
    width: 40px;

    padding: 20px;
    border-radius: 100%;

    color: gray;

    background-color: #1f1f1f;

}

.upload-img {


    display: block;
    font-size: 18px;
    font-weight: 500;
    color: white;


    margin-top: 15px;
    margin-bottom: 10px;

}

.upload-description {

    display: block;
    font-size: 15px;
    font-weight: 500;
    color: gray;


    margin-top: 0;
    margin-bottom: 10px;

}

.flex-box {
    display: flex;
}

.entry-flexdiv {
    width: 92%;
    margin-left: auto;
    margin-right: auto;

    height: 100px;
    gap: 0;

    justify-content: center;
}

.flexbox-div {
    width: 50%;
    height: 100%;
}

.entry-title2 {
    margin-left: 0;
    margin-bottom: 5px;

    display: block;
    font-size: 15px;
    font-weight: 600;
    color: white;
}

.edit-icon {
    float: right; 
    padding-right: 20px;

    
}

.icon {
    width: 20px;
    height: 20px;
    padding: 3px;


    color: gray;
    border-radius: 8px;
    transition: 250ms;
}
.icon:hover {
    cursor: pointer;
    color: white;
    background-color: #00ff99;
}

.dropdown-frame {
    height: 70px;

}

.dropdown-button {
    margin-left: 0;
    
    align-content: center;

    padding-left: 10px;

    margin-top: 0;
    display: flex;

    align-items: center;
    margin-bottom: 0;

    font-size: 15px;
    font-weight: 400;
    color: white;

    width: 90%;
    height: 40px;

    background-color: #1f1f1f;
    border: 1px solid #333333;

    border-radius: 10px;
}

.dropdown-button:hover {
    cursor: pointer;
}

.dropdown-icon {
    padding-right: 15px;

    width: 50%;

    margin-top: 0;
    margin-bottom: 0;
}

.icon2 {
    width: 15px;
    height: 15px;
    padding: 3px;

    margin-left: 90%;

    color: gray;
    border-radius: 8px;
    transition: 250ms;
}

.dropdown-div {
    width: 94%;
    
    align-content: center;

    display: none;
    position: relative;

    margin-top: 5px;
    margin-bottom: 0;

    margin-left: 0;
    height: fit-content;

    background-color: #1f1f1f;
    border: 1px solid #333333;

    border-radius: 10px;
}

.dropdown-item {
    font-size: 15px;
    font-weight: 400;
    color: white;

    display: block;
    width: 97%;
    height: 40px;

    margin-left: auto;
    margin-right: auto;

    margin-top: 2px;
    margin-bottom: 2px;

    text-align: left;
    border: none;
    border-radius: 10px;

    background-color: transparent;

    transition: 250ms;
}

.dropdown-item:hover {
    background-color: #00ff99;
    color: black;
    cursor: pointer;
}

.selected-dropdown {
    background-color: #00ff99;
    color: black;
    cursor: pointer;
}

.entry-input {

    width: 88%;
    height: 35px;

    margin-left: 3%;

    display: block;
    font-size: 15px;
    font-weight: 500;
    color: white;

    padding-left: 10px;

    background-color: #1f1f1f;
    border: 1px solid #333333;

    border-radius: 10px;

    margin-bottom: 20px;
}

.entry-input:focus {
    outline: 1px solid #00ff99;
}

.entry-input2 {

    width: 92%;
    height: 35px;

    margin-left: 0;

    display: block;
    font-size: 16px;
    font-weight: 500;
    color: white;

    padding-left: 10px;

    background-color: #1f1f1f;
    border: 1px solid #333333;

    border-radius: 10px;

    margin-bottom: 0;
}

#options-data {
    display: none;
}

.entry-input2:focus {
    outline: 1px solid #00ff99;
}

.entry-textarea {

    width: 92%;
    height: 175px;

    margin-left: auto;
    margin-right: auto;

    display: block;
    font-size: 16px;
    font-weight: 500;
    color: white;

    padding-left: 10px;

    background-color: #1f1f1f;
    border: 1px solid #333333;

    scrollbar-color: black transparent;

    border-radius: 10px;

    resize: none;

    margin-bottom: 30px;
}

.entry-textarea:focus {
    outline: 1px solid #00ff99;
}

.bottom-div {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-content: center;

    gap: 15px;
}

.bottom-buttons {

    width: 40%;
    height: 50px;

    font-size: 16px;
    font-weight: 500;


    border: 1px solid #333333;

    background-color: black;
    color: white;

    scrollbar-color: black transparent;

    border-radius: 10px;

    resize: none;


}

.bottom-buttons:hover {
    cursor: pointer;
}

.green-button {
    background-color: #00ff99;
    color: black;
}

.MainFrame_Settings {
    position: absolute;
    display: inline-block;


    align-content: center;

    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.63);
}

.settings-div {
    background-color: #1f1f1f;
    border: 1px solid #333333;

    display: block;
    border-radius: 18px;

    margin-left: auto;
    margin-right: auto;

    width: 500px;
    height: 500px;
}

.entry-description {
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: gray;

    width: 92%;

    margin-left: auto;
    margin-right: auto;


    margin-top: 5px;
    margin-bottom: 10px;
}

.close-icon {
    height: 20px;
    width: 20px;

    transition: 250ms;
}

.close-icon:hover {
    cursor: pointer;
    color: white;
}

.settings-input {
    width: 80%;
    height: 40px;

    margin-left: 15px;
    margin-right: auto;


    font-size: 15px;
    font-weight: 500;
    color: white;

    padding-left: 10px;

    background-color: #121212;
    border: 1px solid #333333;

    border-radius: 10px;

    margin-bottom: 0;
}

.settings-input:focus {
    outline: 1px solid #00ff99;
}

.settings-button {
    width: 35px;
    height: 33px;

    font-size: 20px;
    font-weight: 600;
    color: white;

    background-color: #121212;
    border: 1px solid #333333;

    border-radius: 10px;

    margin-top: 0;

}

.settings-icon {

    display: inline;
    width: 29px;
    height: 27px;

    padding: 5px;

    font-size: 20px;
    font-weight: 600;
    color: white;

    background-color: #00ff99;
    border: 1px solid #333333;

    color: black;

    border-radius: 10px;

    margin-bottom: -14px;
}

.settings-icon:hover {
    cursor: pointer;
}

.settings-list {
    width: 460px;
    height: 300px;

    margin-left: 15px;
    margin-top: 10px;

    overflow: auto;
    scrollbar-color: black transparent;
}

.settings-listitem {
    width: 96%;
    height: 30px;

    padding-top: 10px;
    align-content: center;

    font-size: 15px;
    font-weight: 500;
    color: white;

    margin-top: 5px;
    margin-bottom: 5px;

    padding-left: 10px;

    background-color: #121212;
    border: 1px solid #333333;

    border-radius: 10px;
}

.remove-icon {
    margin-top: -3px;
}

.remove-icon:hover {
    background-color: rgba(255, 65, 65, 0.144);
    color: red;
}

.mainframe-loading {
    width: 100%;
    max-width: 360px;
    min-width: 200px;
    height: 55px;
    background-color: #121212;
    border-radius: 15px;
    border: 1px solid #252525 ;

    right: 0;
    bottom: 0;


    display: none;
    transform: translateY(200px);
    transition: 750ms;
    margin-bottom: 15px;
    margin-right: 30px;
    position: fixed;


    align-content: center;
}

.spin-icon {
    width: 16px;
    height: 16px;

    color: rgb(253, 253, 253);
    animation: spinicon 3s infinite;
}

.done-icon {
    width: 16px;
    height: 16px;

    color: rgb(253, 253, 253);
    background-color: #00ff993f;
    border-radius: 100%;
    color: #00ff99;
}

#load-frame {
    display: none;
}

.load-text {
    font-size: 15px;
    font-weight: 600;
    color: white;

    margin-left: 14px;
}

.loading-frame {
    display: flex;



    align-items: center;

    margin-left: 20px;
}

@media (max-width: 1100px) {
    body {
        display: flex;
        flex-direction: column;
    }

    body {
        position: fixed;
    }

    .MainFrame {
        width: 100vw;
    }
    
    .SideBar {
        display: none;
        position: fixed;

        height: 100vh;
        width: 100%;
    }

    .SideBar_List_ListItem {
        width: 88%;
    }

    
    .MainFrame_HeadFrame {
        height: 40px;
        margin-top: 10px;
    }

    .MainFrame_Title {
        font-size: 24px;
    }

    .MainFrame_description {
        margin-top: 5px;
    }

    #bar-icon {
        display: block;
    }


    .log_frame {
        width: 80%;
        height: fit-content;
    }
}

@media (max-width: 480px) {
    
    .flex-box {
        flex-direction: column;
    }

    .MainFrame_description {
        margin-left: 10%;
        margin-right: 0;

        font-size: 12px;
    }

    .entry-description {
        font-size: 12px;
    }
    
    .settings-div {
        width: 90%;
        height: fit-content;
        padding-bottom: 10px;
    }

    .settings-input {
        width: 70%;
        height: 32px;
        font-size: 13px;
    }

    .settings-icon {
        height: 20px;
        width: 20px;
    }
    
    .log_frame {
        margin-top: 10px;
        width: 90%;
        padding-bottom: 20px;
    }

    .entry-title {
        font-size: 15px;
        margin-top: 15px;
    }
    
    .settings-list {
        width: 90%;
        height: 250px;
        scrollbar-width: none;
    }

    .settings-listitem {
        width: 94%;
        height: 25px;
        font-size: 13px;


        padding-top: 5px;
        padding-bottom: 0;
    }

    .remove-icon {
        margin-top: -5px;
    }

    .entry-title2 {
        font-size: 15px;
        margin-top: 15px;
    }

    .entry-flexdiv {
        flex-direction: column;
        height: fit-content;
    }

    .entry-title2 {
        margin-left: 10px;
    }

    .flexbox-div {
        width: 100%;
    }

    .dropdown-button {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    .bottom-div {
        flex-direction: column;
        height: 70px;
        justify-content: none;
        gap: 10px;


    }

    .entry-textarea {
        margin-bottom: 15px;
    }

    .bottom-buttons {
        width: 90%;
        height: 50px;

        font-size: 17px;

        margin-top: 0;
        margin-bottom: 0;

        margin-left: auto;
        margin-right: auto;
    }

    .upload-icon {
        height: 20px;
        width: 20px;

        padding: 20px;
        border-radius: 100%;

        color: gray;

        background-color: #1f1f1f;

    }

    .upload-img {


        display: block;
        font-size: 13px;
        font-weight: 500;
        color: white;


        margin-top: 15px;
        margin-bottom: 10px;

    }

    .upload-description {

        display: block;
        font-size: 13px;
        font-weight: 500;
        color: gray;


        margin-top: 0;
        margin-bottom: 10px;
    }

    .img-frame {
        height: 200px;
    }

}



